{% extends 'base.html.twig' %}

{% block title %}
	Mentions Legales
{% endblock %}

{% block body %}

	<div class="container-fluid py-5">
		<div class="row px-sm-3 px-md-3">
			<div class="col-lg-11 m-auto">

				<p class="fw-3 m-0 my-2 mt-4 opacity-3 font-ubuntu size-9">MENTIONS LEGALES  JVGO
				</p>


				<p class="fw-2 m-0 my-3 mt-5 size-6 opacity-2">
					En accédant et en parcourant le site Internet www.jvgo.be, le visiteur accepte, sans réserve, la présente notice légale. Cette notice peut être modifiée, à tout moment, par simple publication sur le site Internet précité d’une nouvelle notice, et ce, sans nécessité de faire parvenir une notification au visiteur du site Internet.

				</p>

				<p class="fw-2 m-0 my-3 size-6 opacity-2">

					La modification entre en vigueur à la date de sa mise à disposition sur le site Internet.

				</p>

				<p class="fw-2 m-0 my-3 size-6 opacity-2">

					En cas de litige, seul le droit belge sera applicable et seuls les tribunaux de l’arrondissement judiciaire du siège social de JVGO Business Builder seront compétents. JVGO Business Builder peut cependant décider de recourir à la médiation, en faisant intervenir un médiateur agréé par la Commission fédérale de médiation en vue de résoudre le litige par cette voie.

				</p>


				<p class="fw-3 m-0 my-4 opacity-3 font-ubuntu size-7">Identification du propriétaire
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					www.jvgo.be est un site appartenant à JVGO Business Builder, enregistrée auprès de la Banque-Carrefour des entreprises sous le numéro BE 0508.809.144, ci-après « JVGO Business Builder ».
				</p>
				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Il est géré par Valérie De Coster, administrateur de JVGO Business Builder, propriétaire du site Internet.
				</p>
				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Le site Internet www.jvgo.be est un site Internet présentant ses activités d’aide à la création d’entreprises et d’optimisation fiscale.
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					JVGO Business Builder, dans le cadre du présent site, est joignable par e-mail à l’adresse suivante : info.jvgo@gmail.com
				</p>
				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Le présent site est hébergé par o2switch.
				</p>

			</div>
		</div>
	</div>


{% endblock %}
