{% extends 'base.html.twig' %}

{% block title %}Acceuil | JVGO
{% endblock %}

{% block body %}

	<style>
		.swal2-styled.swal2-confirm {
			display: none !important;
		}
	</style>

	<!-- SECTION 1 -->
	<div class="container-fluid section-1 px-3 my-2 pt-lg-3">
		<div class="row p-2">
			<div class="col-lg-6 m-auto">
				<br>
				<br class="d-sm-none d-md-none d-lg-block d-lg-block">
				<p class="acceuil-text fs-1 font-ubuntu fw-5 pr-5 p-sm-2 p-md-2 mb-0  row-5">
					La solution qui vous accompagne dans la gestion économique de votre société
				</p>

				<div class="p-sm-2 p-md-2 ">
					<p class="size-8 fw-2 mb-3 mt-sm-1 mt-md-1 ">
						Pour que vous restiez concentré sur votre core business.
					</p>

					<!-- ACTIONS -->

					<div class="container-fluid m-0 py-lg-4 pt-5 p-sm-2 p-md-2 pt-sm-2 pt-md-2">
						<div class="row">
							<div class="col-lg-6 p-4 p-sm-0 p-md-0">
								<div class="button-effect-3 m-1 py-3 py-sm-2 py-md-2">
									<a href="/creation-entreprise" class="p-1">
										<span class="no-wrap">
											<i class="mdi mdi-chevron-right"></i>
											Créer mon entreprise
										</span>
									</a>
								</div>
								<p class="text-center size-3 py-3 px-2 opacity-3">
									Toutes les étapes de création de votre entreprise, 
									du choix de votre statut juridique jusqu'à la rédaction 
									de votre business plan et plan financier.
								</p>
							</div>
							<div class="col-lg-6 p-4 p-sm-0 p-md-0">
								<div class="button-effect-3 actived-btn m-1 py-3 py-sm-2 py-md-2">
									<a href="/deleguer-ma-comptabilite" class="p-1">
										<span class="no-wrap">

											<i class="mdi mdi-chevron-right"></i>
											Gérer ma comptabilité
										</span>
									</a>
								</div>

								<p class="text-center size-3 py-3 px-2 opacity-3">
									Des services de comptabilité et de gestion afin de vous aider à gérer efficacement votre entreprise une fois créée.
								</p>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-5 d-lg-block d-xl-block d-md-none d-sm-none m-auto p-0">
				<img src="{{ asset('images/home.png')}}" class="image1 m-0 p-0 " alt="" srcset=""/>
			</div>
		</div>
	</div>

	<!-- SECTION 2 -->

	<br class="d-sm-none d-md-none d-lg-block d-lg-block">
	<div class="bg-light container-fluid pt-5 pt-sm-2 pt-md-2 pb-2 pb-sm-0 pb-md-0  ">
		<div class="row p-2 px-sm-4 px-md-4 ">
			<div class="col-lg-11 p-sm-3 p-md-3">
				<div class="container p-sm-0 p-md-0">
					<div class="row">
						<div class="col-lg-11">
							<p class="size-8 opacity-3 mt-2 m-0 mb-1">
								Créer mon entreprise
							</p>
							<p class="size-9 font-ubuntu fw-5 m-0 col-lg-7  mt-3">
								Démarrez la création de votre société en quelques clics et nous nous occupons du reste
							</p>

							<div class="container mt-3 p-sm-0 p-md-0">
								<div class="row">
									<div class="p-2 p-lg-5 col-lg-7">
										
										<p class="m-0 my-2 font-ubuntu size-7">La solution la plus simple, économique et rapide pour créer votre société </p>
										
										<p class="m-0 my-2 font-ubuntu size-7">Votre société immatriculée en 3 semaine</p>
										
										<p class="m-0 my-2 font-ubuntu size-7">Tarif unique et transparent</p>
										<br>
										<br>
										<div class="d-flex justify-content-lg-start justify-content-sm-center justify-content-md-center">
										<a href="/creation-entreprise" class="button-effect-3 size-6 px-4 py-2">
											<span>
												<i class="mdi mdi-chevron-right"></i>
												Je démarre Maintenant
											</span>
										</a>
										</div>

									</div>
									<div class="col-lg-5 m-auto grid place-items d-lg-block d-xl-block d-md-none d-sm-none" >
										<div class="rounded" style="background: url('images/bg.jpg'); width: 100%; height: 50vh; background-repeat: no-repeat; background-size: cover;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- SECTION 3 -->
	<br class="d-sm-none d-md-none d-lg-block d-lg-block">
	<div class="container-fluid py-2 pt-4 pt-sm-2 pt-md-2">
		<div class="row px-sm-3 px-md-3">
			<div class="col-lg-10 m-auto">
				<div class="container p-sm-0 p-md-0">
					<div class="row p-1 pt-5">
						<div class="col-lg-12">
							<p class="size-9 font-merriweather">
								<b>Un pack pour chaque profil à des prix sur-mesure</b>,
								<br/>
								sans surprise !
							</p>
							<p class="size-7">
								Notre tarif ne comprend pas les frais de notaire qui seront à verser le jour de
								<br/>
								la signature de l’acte de création de la société
							</p>
						</div>
					</div>
				</div>
				<br class="d-sm-none d-md-none d-lg-block d-lg-block">

				<div class="container p-sm-0 p-md-0">
					<div class="row">
						<div class="col-lg-12 m-auto">
							<div class="container p-sm-1">
								<div class="row p-1">
									<div class="col-lg-4 p-sm-1 m-auto p-sm-2 p-md-2">
										<div class="container-fluid py-3 p-sm-1 border rounded border selectable-box">
											<div class="row">
												<div class="col-lg-12 m-auto">
													<div class="m-1 p-2 p-lg-4 pt-2">
														<p class="size-7 fw-bold font-merriweather">
															Création de votre société
														</p>
														<ul class="size-5 no-style p-0">
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Rédaction des
																																												            Statuts de la Société
															</li>
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Étude de
																																												            faisabilité
															</li>
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Fourniture d’un plan (cartographie) détaillé du process
																																												            d’incorporation de la société
															</li>
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Vérification du
																																												            dossier
															</li>
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Etablissement du
																																												            plan financier par notre expert comptable
																																												            partenaire
															</li>
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Prise de
																																												            rendez-vous pour passage de l’acte authentique
																																												            devant le notaire
															</li>
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Immatriculation
																																												            auprès du greffe
															</li>
														</ul>
														<p class="text-center">
															<button class="btn btn-outline-dark mt-4" onclick="newPage('/creation-entreprise')">
																Continuer
															</button>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-4 m-auto p-sm-2 p-md-2">
										<div class="container-fluid py-3 border rounded bg-light selectable-box">
											<div class="row">
												<div class="col-lg-12 m-auto">
													<div class="m-1 p-2 p-lg-4 pt-2">
														<p class="size-7 fw-bold font-merriweather">Comptabilité</p>
														<p class="size-5">
															Nous proposons une large gamme de services		             adaptés aux besoins de nos clients, qu'il		             s'agisse de TPE, de PME ou de grandes		             entreprises.
														</p>
														<p class="size-5">
															Pourquoi choisir votre notre pack compta pour		             votre entreprise?
														</p>
														<ol class="size-5 no-style p-0">
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																. Un comptable
																																												            dédié et disponible pour répondre à toutes vos
																																												            sollicitations tout au long de l’année par
																																												            tchat, téléphone et même visioconférence.
															</li>
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Des conseils
																																												            illimités avec notre juriste fiscalité et vos
																																												            déclarations d’impôt faites en toute sérénité
																																												            et à temps
															</li>
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Un logiciel
																																									            comptable intelligent qui vous permet de gérer
																																												            efficacement la comptabilité de votre
																																												            entreprise, de gagner du temps et d'optimiser
																																												            votre travail en automatisant certaines tâches
																																												            fastidieuses et répétitives
															</li>
														</ol>
														{# <details>
															<summary>
																Avec notre logiciel, en quelques clics vous
																																												            êtes en mesure de :
															</summary>
															<div class="py-3">
																<ul class="size-5 no-style p-0">
																	<li class="pb-3">
																		<i class="mdi mdi-check"></i>
																		Enregistrer									                   et suivre toutes les opérations comptables									                   de votre entreprise (achats, ventes,									                   encaissements, etc.)
																	</li>
																	<li class="pb-3">
																		<i class="mdi mdi-check"></i>Etablir des						                   états financiers tels que le bilan et le						                   compte de résultat
																	</li>
																	<li class="pb-3">
																		<i class="mdi mdi-check"></i>
																		Gérer la									                   paie de vos employés et les déclarations									                   sociales associées
																	</li>
																	<li class="pb-3">
																		<i class="mdi mdi-check"></i>
																		Gérer la TVA									                   et les déclarations fiscales
																	</li>
																	<li class="pb-3">
																		<i class="mdi mdi-check"></i>
																		Analyser les									                   performances de votre entreprise et									                   prendre des décisions éclairées grâce à									                   des tableaux de bord et des rapports									                   financiers
																	</li>
																</ul>
																<button class="btn btn-outline-dark mt-4">
																	Testez Gratuitement notre logiciel de				                 comptabilité (sans engagement)
																</button>
															</div>
														</details> #}
														<p class="text-center">
															<a class="text-dark">
																<button class="btn btn-outline-dark mt-4" onclick="newPage('/deleguer-ma-comptabilite')">
																	Je veux déléguer ma comptabilité
																</button>
															</a>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-4 m-auto p-sm-2 p-md-2">
										<div class="container-fluid py-3 border rounded selectable-box">
											<div class="row">
												<div class="col-lg-12 m-auto">
													<div class="m-1 p-2 p-lg-4 pt-2">
														<p class="size-7 fw-bold font-merriweather">
															Création de votre société + Comptabilité
														</p>
														<p class="size-5">
															Bénéficiez avec votre pack création d’une		             réduction exclusive sur nos tarifs de gestion		             comptable et optimisation fiscale comprenant:
														</p>
														<ul class="size-5 no-style p-0">
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Un comptable
																																												            dédié et disponible
															</li>
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Logiciel
																																												            comptable intelligent
															</li>
															<li class="pb-3">
																<i class="mdi mdi-check"></i>
																Des conseils
																																												            illimités avec notre juriste fiscalité et vos
																																												            déclarations d’impôt faites en toute sérénité
																																												            et à temps
															</li>
														</ul>
														<p class="text-center">
															<button class="btn btn-outline-dark mt-4" onclick="newPage('/creation-entreprise')">
																Je profite de l’offre de réduction
															</button>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- SECTION 12 -->
	<div class="container-fluid bg-light mt-2 py-5">
		<div class="row p-2">
			<div class="col-lg-11 m-auto p-sm-0 p-md-0">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 m-auto p-sm-2 p-md-2 ">
							<p class="size-8 fw-bold font-merriweather">
								Intéressé(e) par l’un de nos services comptables ?
							</p>
							<p class="size-6 is-text-primary">
								Nous vous contactons en moins de 24 heures.
							</p>

							<p class="size-6 text-black mb-4">
								Vous souhaitez démarrer votre activité ? Déléguer votre compta
																																  ? Ou contacter un de nos experts pour avoir plus
																																  d’informations ?
							</p>

							<p class="size-6 text-black mb-4">
								Notre équipe est là pour vous conseiller. Remplissez le
																																  formulaire et vous recevrez une réponse en moins de 24 heures.
							</p>
						</div>

						<div class="col-lg-6 m-auto p-sm-0 p-md-0" id="contact-form">
							<div class="bg-white rounded p-2 p-lg-3  px-sm-3 px-md-3">
								<br/>
								<div class="mx-4 m-sm-0 m-md-0">
									<p class="m-0 mb-1">
										Je souhaite
										<span>
											<sup class="is-text-primary">*</sup>
										</span>
									</p>
									<select class="form-control" id="Motif">
										<option value="Déléguer ma comptabilité en tant qu'indépendant">
											Déléguer ma comptabilité en tant qu'indépendant
										</option>
										<option value="Déléguer ma comptabilité en tant que société">
											Déléguer ma comptabilité en tant que société
										</option>
										<option value="Devenir indépendant">
											Devenir indépendant
										</option>
										<option value="Créer une entreprise">
											Créer une entreprise
										</option>
										<option value="Autre">Autre</option>
									</select>
								</div>

								<br/>

								<div class="mx-4 m-sm-0 m-md-0">
									<p class="m-0 mb-1">
										Civilité
										<span>
											<sup class="is-text-primary">*</sup>
										</span>
									</p>

									<select class="form-control" id="Civilite">
										<option value=""></option>
										<option value="Mme.">Madame</option>
										<option value="Mr.">Monsieur</option>
									</select>
								</div>

								<br/>

								<div class="container-fluid p-sm-0 p-md-0">
									<div class="row">
										<div class="col-lg-6">
											<p class="m-0 mb-1 mt-2">Nom<span>
													<sup class="is-text-primary">*</sup>
												</span>
											</p>
											<input type="text" class="form-control" id="Nom"/>
										</div>

										<div class="col-lg-6">
											<p class="m-0 mb-1">Prénom<span>
													<sup class="is-text-primary">*</sup>
												</span>
											</p>
											<input type="text" class="form-control" id="Prenom"/>
										</div>

										<div class="col-lg-6">
											<p class="m-0 mb-1 mt-2">Email<span>
													<sup class="is-text-primary">*</sup>
												</span>
											</p>
											<input type="email" class="form-control" id="Email"/>
										</div>

										<div class="col-lg-6">
											<p class="m-0 mb-1 mt-2">Téléphone<span>
													<sup class="is-text-primary">*</sup>
												</span>
											</p>
											<input type="tel" class="form-control" id="Mobile"/>
										</div>
									</div>
								</div>

								<div class="my-5 text-center">
									<center id="loading-indicator" class="d-none">
										<img src="{{ asset('images/loader.svg')}}" width="80px">
									</center>

									<p class="text-center size-5 mb-4 fw-3 alert alert-danger d-none" id="error-display"></p>

									<a onclick="selectInfo()" class="button-effect-3 size-6  px-3 py-2">
										<span class="px-4">
											Envoyer
										</span>
									</a>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="{{asset('js/custom/sendmail.min.js')}}"></script>

{% endblock %}
