{% extends 'base.html.twig' %}

{% block title %}Acceuil | JVGO Business Builder
{% endblock %}

{% block body %}


	<!-- SECTION 1 -->
	<div class="d-flex justify-content-center setpad with-background">
		<div class="with-bg-opacity">
			<div style="margin-top:8em" class="d-sm-none d-md-block d-lg-block"></div>
			<div style="margin-top:4em" class="d-sm-block d-lg-none d-xl-none"></div>
			<div class="container-fluid p-0 section-1 p-0 pt-lg-3 fv resize-width">
				<div class="row  p-0">
					<div class="col-lg-8 m-auto p-0">


						<h1 class="text-light text-center fs-1 fw-3 mb-0 mt-4">
							Toutes les étapes de la création <br> de votre entreprise
						</h1>
						<center>
							<h4 class="text-light text-center mb-0  text-center fw-2" style="padding-top:30px; font-size:18px; width:70%">
							Depuis  le
													choix de votre statut juridique jusqu'à la rédaction <br> de votre business
													plan et du plan financier.</h4>
						</center>

						<div
							class="p-sm-1 p-md-1 mt-3 mt-sm-0 mt-md-0">

							<!-- ACTIONS -->

							<div class="container-fluid m-0 p-0 py-lg-4 pt-3 my-3 mb-4 mt-lg-3 mt-sm-0 mt-md-0">
								<div class="row">
									<div class="col-lg-6 col-md-5 m-auto">
										<center class="pt-5">

											<a href="/creation-entreprise" class="btn btn-secondary-custom px-4 ">
												<span class="no-wrap size-7">
													<i class="mdi mdi-chevron-right"></i>
													Créer mon entreprise
												</span>
											</a>
										</center>
										<p class="text-center text-light py-3 px-2 opacity-3" style="font-size:16px;">
											Toutes les étapes de création de votre entreprise, 
																																																																												du choix de votre statut juridique jusqu'à la rédaction 
																																																																												de votre business plan et plan financier.
										</p>
									</div>
									<div class="col-lg-6 col-md-5 m-auto border border-secondary rounded grid place-items">
										<center class="pt-lg-5  pt-sm-2 pt-md-2">
											<a href="/deleguer-ma-comptabilite" class="btn btn-secondary-custom btn-secondary-custom-primary px-4">
												<span class="no-wrap size-7">

													<i class="mdi mdi-chevron-right"></i>
													Gérer ma comptabilité
												</span>
											</a>
										</center>

										<p class="text-center text-light py-3 px-2 opacity-3" style="font-size:16px;">
											Des services de comptabilité et de gestion afin de vous aider à gérer efficacement votre entreprise une fois créée.
										</p>

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<br>
		</div>
	</div>

	<!-- SECTION 2 -->


	<div class="col-12 d-flex justify-content-center" style="padding-top:80px; padding-bottom:40px">
		<div class="container-fluid fv p-0">
			<div class="row p-0 m-0">
				<div class="col-11 m-auto p-0">
					<div class="container-fluid p-0">
						<div class="row p-0">
							<div class="col-lg-5">
								<div style="background: url('images/bg.jpg') center center;border-radius:10px !important; width: 100%; height:100%;  background-repeat: no-repeat; background-size: cover;"></div>
							</div>

							<div class="col-lg-7 m-auto">
								<div class="p-lg-5">
									<p class="size-8 opacity-3 mt-2 m-0 mb-1  fw-3 size-6">
										Créer mon entreprise
									</p>
									
									<p class="m-0 my-2  size-7 d-flex justify-content-lg-start gap-2">
										La solution la plus simple, économique et rapide pour  créer , immatriculer votre société  en 3 semaines à un tarif unique et transparent . 
									</p>

									<p class="size-7 fw-2 m-0 mt-3 mb-4">
										Nos services de comptabilité et de gestion financière vous
										facilitent la vie et vous permettent de faire fonctionner
										efficacement votre entreprise.</p>

								
									<div class="d-flex justify-content-lg-start justify-content-sm-center justify-content-md-center">
										<a href="/creation-entreprise" class="button-effect-3 size-7 px-4 py-2">
											<span>
												<i class="mdi mdi-chevron-right"></i>
												Je démarre Maintenant
											</span>
										</a>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- SECTION 3 -->
	<div class="col-12 d-flex flex-direction-column  justify-content-center" style="padding-top:50px; padding-bottom:40px">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-8 text-center m-auto">
					<p class="size-10">
						<b>Un pack pour chaque profil à des prix sur-mesure</b>

					</p>
					<p class="size-7 ">
						Notre tarif ne comprend pas les frais de notaire qui seront à verser<br/> le jour de						
						la signature de l’acte de création de la société
					</p>
				</div>
			</div>
		</div>
		<br class="d-sm-none d-md-none d-lg-block d-lg-block">

		<div class="container p-sm-0 p-md-0">
			<div class="row">
				<div class="col-lg-12 m-auto">
					<div class="container p-sm-1">
						<div class="row p-1">
							<div class="col-lg-4 p-sm-1 m-auto p-sm-2 p-md-2">
								<div class="container-fluid py-3 p-sm-1 border rounded border selectable-box">
									<div class="row">
										<div class="col-lg-12 m-auto">
											<div class="m-1 p-2 p-lg-4 pt-2">
												<p class="size-7 fw-bold">
													Création de votre société
												</p>
												<ul class="size-7 no-style p-0">
													<li class="pb-3 d-flex justify-content-lg-start gap-2">
														<i class="mdi mdi-check"></i>
														Rédaction des
																																																																																																																																																						            Statuts de la Société
													</li>
													<li class="pb-3 d-flex justify-content-lg-start gap-2">
														<i class="mdi mdi-check"></i>
														Étude de
																																																																																																																																																						            faisabilité
													</li>
													<li class="pb-3 d-flex justify-content-lg-start gap-2">
														<i class="mdi mdi-check"></i>
														Fourniture d’un plan (cartographie) détaillé du process
																																																																																																																																																						            d’incorporation de la société
													</li>
													<li class="pb-3 d-flex justify-content-lg-start gap-2">
														<i class="mdi mdi-check"></i>
														Vérification du
																																																																																																																																																						            dossier
													</li>
													<li class="pb-3 d-flex justify-content-lg-start gap-2">
														<i class="mdi mdi-check"></i>
														Etablissement du
																																																																																																																																																						            plan financier par notre expert comptable
																																																																																																																																																						            partenaire
													</li>
													<li class="pb-3 d-flex justify-content-lg-start gap-2">
														<i class="mdi mdi-check"></i>
														Prise de
																																																																																																																																																						            rendez-vous pour passage de l’acte authentique
																																																																																																																																																						            devant le notaire
													</li>
													<li class="pb-3 d-flex justify-content-lg-start gap-2">
														<i class="mdi mdi-check"></i>
														Immatriculation
																																																																																																																																																						            auprès du greffe
													</li>
												</ul>
												<p class="text-center">
													<button class="btn btn-outline-dark mt-4 size-7" onclick="newPage('/creation-entreprise')">
														Continuer
													</button>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 m-auto p-sm-2 p-md-2">
								<div class="container-fluid py-3 border rounded  selectable-box-selected">
									<div class="row">
										<div class="col-lg-12 m-auto">
											<div class="m-1 p-2 p-lg-4 pt-2">
												<p class="size-7 fw-bold">Comptabilité</p>
												<p class="size-7">
													Nous proposons une large gamme de services		             adaptés aux besoins de nos clients, qu'il		             s'agisse de TPE, de PME ou de grandes		             entreprises.
												</p>
												<p class="size-7">
													Pourquoi choisir votre notre pack compta pour		             votre entreprise?
												</p>
												<ol class="size-7 no-style p-0">
													<li class="pb-3 d-flex justify-content-lg-start gap-2">
														<i class="mdi mdi-check"></i>
														Un comptable
																																																																																																																																																						            dédié et disponible pour répondre à toutes vos
																																																																																																																																																						            sollicitations tout au long de l’année par
																																																																																																																																																						            tchat, téléphone et même visioconférence.
													</li>
													<li class="pb-3 d-flex justify-content-lg-start gap-2">
														<i class="mdi mdi-check"></i>
														Des conseils
																																																																																																																																																						            illimités avec notre juriste fiscalité et vos
																																																																																																																																																						            déclarations d’impôt faites en toute sérénité
																																																																																																																																																						            et à temps
													</li>
													<li class="pb-3 d-flex justify-content-lg-start gap-2">
														<i class="mdi mdi-check"></i>
														Un logiciel
																																																																																																																																																			            comptable intelligent qui vous permet de gérer
																																																																																																																																																						            efficacement la comptabilité de votre
																																																																																																																																																						            entreprise, de gagner du temps et d'optimiser
																																																																																																																																																						            votre travail en automatisant certaines tâches
																																																																																																																																																						            fastidieuses et répétitives
													</li>
												</ol>
												<p class="text-center">
													<a class="text-light">
														<button class="btn btn-outline-light size-7 mt-4" onclick="newPage('/deleguer-ma-comptabilite')">
															Je veux déléguer ma comptabilité
														</button>
													</a>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 m-auto p-sm-2 p-md-2">
								<div class="container-fluid py-3 border rounded selectable-box">
									<div class="row">
										<div class="col-lg-12 m-auto">
											<div class="m-1 p-2 p-lg-4 pt-2">
												<p class="size-7 fw-bold">
													Création de votre société + fiscalité
												</p>
												<p class="size-7">
													Bénéficiez, avec votre pack création, d’une réduction exclusive sur
													nos tarifs de gestion comptable et optimisation fiscale comprenant:
												</p>
												<ul class="size-7 no-style p-0">
													<li class="pb-3 d-flex justify-content-lg-start gap-2">
														<i class="mdi mdi-check"></i>
														Un comptable dédié et disponible
													</li>
													<li class="pb-3 d-flex justify-content-lg-start gap-2">
														<i class="mdi mdi-check"></i>
														Logiciel
																																																																																																																																																						            comptable intelligent
													</li>
													<li class="pb-3 d-flex justify-content-lg-start gap-2">
														<i class="mdi mdi-check"></i>
														Des conseils illimités avec notre juriste fiscaliste et vos
														déclarations d’impôt faites en toute sérénité et à temps
													</li>
												</ul>
												<p class="text-center">
													<button class="btn btn-outline-dark mt-4 size-7" onclick="newPage('/creation-entreprise')">
														Je profite de l’offre de réduction
													</button>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- SECTION 12 -->

	<div class="col-12 bg-light d-flex flex-direction-row  justify-content-center" style="padding-top:40px; padding-bottom:60px">
		<div class="fv text-center">
			<p class="size-10 fw-bold">
				Intéressé(e) par l’un de nos services comptables ?
			</p>

			<p class="size-7  text-black mb-2">
				Vous souhaitez démarrer votre activité, déléguer votre compta
																																																																												 ou contacter un  <br> de nos experts pour avoir plus
																																																																												  d’informations
			</p>

			
		</div>


	</div>


	<div class="col-12 d-flex flex-direction-row  justify-content-center" style="padding-top:20px; padding-bottom:10px">
		<div class="fv  d-flex justify-content-center">
			<div class="col-7  col-sm-12 col-md-12" id="contact-form">
				<div class="p-2 p-lg-4  px-sm-3 px-md-3">
					<br/>
					

					<div class="container-fluid p-sm-0 p-md-0 size-7">
						<div class="row">
							<div class="col-lg-6">

							

								<p class="m-0 mb-1">
									Je souhaite
									<span>
										<sup class="is-text-primary">*</sup>
									</span>
								</p>
								<select class="form-control" id="Motif">
									<option value="Déléguer ma comptabilité en tant qu'indépendant">
										Déléguer ma comptabilité en tant qu'indépendant
									</option>
									<option value="Déléguer ma comptabilité en tant que société">
										Déléguer ma comptabilité en tant que société
									</option>
									<option value="Devenir indépendant">
										Devenir indépendant
									</option>
									<option value="Créer une entreprise">
										Créer une entreprise
									</option>
									<option value="Autre">Autre</option>
								</select>
							</div>


							<div class="col-lg-6 size-7">
								<p class="m-0 mb-1">
									Civilité
									<span>
										<sup class="is-text-primary">*</sup>
									</span>
								</p>

								<select class="form-control" id="Civilite">
									<option value=""></option>
									<option value="Mme.">Madame</option>
									<option value="Mr.">Monsieur</option>
								</select>
							</div>
						</div>
					</div>

					<br/>

					<div class="container-fluid p-sm-0 p-md-0 size-7">
						<div class="row">
							<div class="col-lg-6">
								<p class="m-0 mb-1">Nom<span>
										<sup class="is-text-primary">*</sup>
									</span>
								</p>
								<input type="text" class="form-control" id="Nom"/>
							</div>

							<div class="col-lg-6">
								<p class="m-0 mb-1">Prénom<span>
										<sup class="is-text-primary">*</sup>
									</span>
								</p>
								<input type="text" class="form-control" id="Prenom"/>
							</div>

							<div class="col-lg-6">
								<p class="m-0 mb-1 mt-2">Email<span>
										<sup class="is-text-primary">*</sup>
									</span>
								</p>
								<input type="email" class="form-control" id="Email"/>
							</div>

							<div class="col-lg-6">
								<p class="m-0 mb-1 mt-2">Téléphone<span>
										<sup class="is-text-primary">*</sup>
									</span>
								</p>
								<input type="tel" class="form-control" id="Mobile"/>
							</div>
						</div>
					</div>

					<p class="size-4  text-black my-4">
				 NB: Vous recevrez une réponse en moins de 24 heures.
			</p>

					<div class="my-5 text-center">
						<center id="loading-indicator" class="d-none">
							<img src="{{ asset('images/loader.svg')}}" width="80px">
						</center>

						<p class="text-center size-6 mb-4 fw-3 alert alert-danger d-none" id="error-display"></p>

						<div class="pt-4">
						
							<a onclick="selectInfo()" class="button-effect-3 size-7  px-3 py-2">
								<span class="px-4">
									Envoyer
								</span>
							</a>
						</div>
					

					</div>
					
				</div>
			</div>
		</div>
	</div>


	<script src="{{asset('js/custom/sendmail.min.js')}}"></script>

{% endblock %}
