{% extends 'base.html.twig' %}

{% block title %}Politique De Confidentialite
{% endblock %}

{% block body %}

	<div>

		<div class="container-fluid">
			<div class="row">

				<br>

				<div class="col-11 m-auto">


					<p class="fw-3 m-0 my-2 mt-4 opacity-3 font-ubuntu size-9">
						<b>POLITIQUE DE CONFIDENTIALITE</b>
					</p>

					<p class="fw-2 m-0 my-3 size-6 opacity-2">
						Mises à jour le 26 /01/2022
					</p>


					<br>

					<p class="fw-2 m-0 my-3 size-6 opacity-2">
						<b>1. Parties et Objet</b>
					</p>

					<br>
					JVGO Business Builder (ci-après "JVGO Business Builder " ou le " Responsable du Traitement")


					<br>
					<br>
					Avenue Louise, 207 1050 Bruxelles, Belgique

					<br>
					<br>
					N° d'entreprise (BCE/TVA) : BE 0508.809.144


					<br>
					<br>
					Email : info.jvgo@gmail.com

					<br>
					<br>
					Téléphone : +32 (0)477506867


					<br>
					<br>
					JVGO Business Builder établit la présente Politique de confidentialité dont l'objet est d'informer en toute transparence les Utilisateurs du site internet hébergé à l'adresse suivante :  www.jvgo.be, (ci-après le " Site, "), de la manière dont les données personnelles sont récoltées et traitées par JVGO Business Builder.


					<br>
					<br>
					Le terme "Utilisateur " fait référence à tout utilisateur, soit toute personne physique ou morale, qui visite ou interagit d'une quelconque manière avec le Site.

					<br>

					<br>
					A ce titre, JVGO Business Builder détermine tous les moyens et finalités techniques, juridiques et organisationnelles du traitement des données personnelles des Utilisateurs.


					<br>


					<br>
					<br>
					JVGO Business Builder s'engage à cet effet à prendre toutes les mesures nécessaires pour garantir un traitement des données personnelles conforme à la loi du 30 juillet 2018, relative à la protection des personnes physiques à l'égard des traitements des données à caractère personnel (ci-après, "la Loi ") et au Règlement européen du 26 avril 2016 relatif à la protection des données des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données (ci-après le " Règlement ").


					<br>
					JVGO Business Builder est libre de choisir toute personne physique ou morale qui traite les données personnelles des utilisateurs à sa demande et pour son compte (ci-après le " Sous-traitant "). Le cas échéant, JVGO Business Builder s'engage à sélectionner un Sous-traitant offrant des garanties suffisantes quant aux mesures de sécurité techniques et organisationnelles du traitement des données personnelles, au regard de la Loi et du Règlement.


					<br>
					<p class="fw-2 m-0 my-3 size-6 opacity-2">
						<b>2. Traitement des données personnelles</b>
					</p>


					<br>
					<br>
					L'utilisation du Site par les Utilisateurs pourra entraîner la communication de données personnelles. Le traitement de ces données par JVGO Business Builder, en sa qualité de Responsable du traitement, ou par les prestataires agissant au nom et pour le compte de JVGO Business Builder, sera conforme à la Loi et au Règlement.

					<br>
					Les données à caractère personnel seront traitées par JVGO Business Builder, conformément aux finalités citées plus bas, via :


					<br>
					Une procédure automatisée

					<br>
					<br>
					Le formulaire d’inscription à la newsletter

					<br>
					<br>
					L’utilisation des cookies

					<br>
					<br>
					L’envoie d’enquête ou questionnaire

					<br>
					<br>
					Le partage de contenu gratuit


					<br>
					<br>
					<p class="fw-2 m-0 my-3 size-6 opacity-2">
						<b>3. Finalité du traitement des données personnelles</b>
					</p>


					<br>
					<br>
					Conformément à l'article 13 du Règlement, les finalités du traitement des données personnelles sont communiquées à l'Utilisateur et sont les suivantes :

					<br>

					<br>
					Assurer l’exécution des services proposés et convenus sur le site ;

					<br>
					<br>
					Assurer le contrôle de l’exécution des services proposés ;

					<br>
					<br>
					Effectuer les activités de marketing et d’information promotionnelles après consentement préalable de l’utilisateur et jusqu’à la révocation de ce consentement, par exemple l’envoie de promotions sur les produits et services du responsable du traitement ;

					<br>
					<br>
					Répondre aux questions de l’utilisateur ;

					<br>
					<br>
					Réaliser des statistiques afin d’améliorer le site internet, les services proposés et l’organisation interne de fonctionnement ;

					<br>
					<br>
					Améliorer la qualité du site et des produits et/ou services proposés par le responsable du traitement ;

					<br>
					<br>
					Permettre une meilleure identification des centres d’intérêt de l’utilisateur.


					<br>
					<br>
					<p class="fw-2 m-0 my-3 size-6 opacity-2">
						<b>4. Données personnelles susceptibles d'être traitées</b>
					</p>


					<br>
					<br>
					L'Utilisateur consent, lors de la visite et lors de l'utilisation du Site, que JVGO Business Builder recueille et traite, selon les modalités et principes décrits dans la présente Politique de confidentialité, les données à caractère personnel suivantes :


					<br>
					Les informations des utilisateurs qu’ils donnent à des fins contractuelles et pour permettre la bonne exécution des obligations réciproques, à savoir le nom, prénom, adresse, numéro IBAN et données bancaires, et plus généralement toute information volontairement donnée par l’utilisateur ;

					<br>
					<br>
					Les informations des utilisateurs en remplissant des formulaires ou en contractant par téléphone, adresse électronique ou autre moyen par exemple le nom, l’adresse électronique et le numéro de téléphone des utilisateurs ;

					<br>
					<br>
					En ce qui concerne chacune des visites des utilisateurs sur le site, les informations automatiquement recueillis sont :


					<br>
					-L’adresse IP, le type et le modèle de navigateur, le fuseau horaire, le système d’exploitation

					<br>

					<br>
					- L’ensemble de l’information concernant les pages que l’utilisateur a consulté sur le site, notamment l’URL, le temps de navigation, etc.

					<br>

					<br>
					<p class="fw-2 m-0 my-3 size-6 opacity-2">
						<b>5. Consentement</b>
					</p>


					<br>
					En accédant au Site et en l'utilisant, l'Utilisateur déclare avoir pris connaissance et marqué son accord de façon libre, spécifique, éclairée et univoque au traitement des données à caractère personnel la concernant. Cet accord porte sur le contenu de la présente Politique de confidentialité.

					<br>

					<br>
					Le consentement est donné par l'acte positif par lequel l'Utilisateur a coché la case proposant la Politique de confidentialité en lien hypertexte. Ce consentement est une condition indispensable pour effectuer certaines opérations sur le Site ou pour permettre à l'Utilisateur d'entrer en relation contractuelle avec JVGO Business Builder. Tout contrat liant JVGO Business Builder et un Utilisateur portant sur les services et biens proposés sur le Site est subordonné à l'acceptation de la Politique de confidentialité par l'Utilisateur.

					<br>
					<br>
					L'Utilisateur consent à ce que le Responsable du Traitement traite et recueille, conformément aux modalités et principes compris dans la présente Politique de confidentialité, ses données à caractère personnel qu'il communique sur le Site ou à l'occasion des services proposés par JVGO Business Builder, pour les finalités indiquées plus haut.

					<br>

					<br>
					L'Utilisateur a le droit de retirer son consentement à tout moment. Le retrait du consentement ne compromet pas la licéité du traitement fondé sur le consentement préalablement donné.


					<br>

					<p class="fw-2 m-0 my-3 size-6 opacity-2">
						<b>6. Durée de conservation des données personnelles des Utilisateurs</b>
					</p>


					<br>
					Conformément à l'article 13 §2 du Règlement et de la Loi, le Responsable du Traitement ne conserve les données à caractère personnel que pendant le temps raisonnablement nécessaire pour permettre l'accomplissement des finalités pour lesquelles elles sont traitées.


					<br>
					<br>
					Cette durée est dans tous les cas inférieurs à : 1 an


					<br>
					<br>
					<p class="fw-2 m-0 my-3 size-6 opacity-2">
						<b>7. Destinataires des données et divulgation à des tiers</b>
					</p>


					<br>
					<br>
					Les données personnelles peuvent être transmises aux préposés, collaborateurs, sous-traitants ou fournisseurs de JVGO Business Builder qui offrent des garanties de sécurité des données adéquates, et qui collaborent avec JVGO Business Builder dans le cadre de la commercialisation de produits ou de la fourniture de services. Ils agissent sous l'autorité directe de JVGO Business Builder, et sont notamment responsables de recueillir, de traiter ou de sous-traiter ces données.

					<br>
					<br>


					Dans tous les cas, les destinataires des données et ceux à qui ces données ont été divulguées respectent le contenu de la présente Politique de confidentialité.

					<br>
					<br>


					JVGO Business Builder assure qu'ils traiteront ces données aux seules finalités prévues, de façon discrète et sécurisée.

					<br>
					<br>


					Dans l'hypothèse où les données seraient divulguées à des tiers à des fins de marketing direct ou de prospection, l'Utilisateur en sera préalablement informé pour qu'il exprime son consentement à l'utilisation de ces données personnelles.

					<br>
					<br>


					<br>
					<br>
					<b>8. Droits des Utilisateurs</b>


					<br>
					<br>
					À tout moment, l'Utilisateur peut exercer ses droits en envoyant un message par courrier électronique à l'adresse suivante :  info.jvgo@gmail.com, ou une lettre par voie postale adressée, en joignant une copie de sa carte d'identité à l'adresse suivante : Avenue Louise 207, 1050 Bruxelles, Belgique.


					<br>
					<br>
					<b>Droit d'accès</b>


					<br>
					<br>
					Conformément à l'article 15 du Règlement, JVGO Business Builder garantit le droit d'accès à l'Utilisateur à ses données personnelles. L'Utilisateur a le droit d'obtenir l'accès auxdites données à caractère personnel ainsi que les informations suivantes :


					<br>
					<br>
					- les finalités du traitement ;


					<br>
					<br>
					- les catégories de données à caractère personnel concernées ;


					<br>
					<br>
					- les destinataires ou catégories de destinataires auxquels les données à caractère personnel ont été ou seront communiquées, en particulier les destinataires qui sont établis dans des pays tiers ou les organisations internationales ;


					<br>
					<br>
					- lorsque cela est possible, la durée de conservation des données à caractère personnel envisagée ou, lorsque ce n'est pas possible, les critères utilisés pour déterminer cette durée ;


					<br>
					<br>

					L’existence d'une prise de décision automatisée, y compris un profilage, visée à l'article 22, paragraphes 1 et 4 du Règlement, et, au moins en pareils cas, des informations utiles concernant la logique sous-jacente, ainsi que l'importance et les conséquences prévues de ce traitement pour la personne concernée.


					<br>
					<br>
					Le Responsable du Traitement peut exiger le paiement de frais raisonnables basés sur les coûts administratifs pour toute copie supplémentaire demandée par l'Utilisateur.


					<br>
					<br>
					Lorsque l'Utilisateur introduit cette demande par voie électronique (par le biais de l'adresse électronique par exemple), les informations sont fournies sous une forme électronique d'usage courant, à moins que l'Utilisateur ne demande qu'il en soit autrement.


					<br>
					<br>
					La copie de ses données sera communiquée à l'Utilisateur au plus tard dans le mois après la réception de la demande.


					<br>
					<br>

					<b>Droit de rectification</b>


					<br>
					<br>
					JVGO Business Builder garantit le droit de rectification et d'effacement des données personnelles à l'utilisateur.


					<br>
					<br>
					Conformément à l'article 16 du Règlement, les données incorrectes, inexactes ou non-pertinentes peuvent être corrigées ou effacées à tout moment. L'Utilisateur procède d'abord lui-même aux modifications nécessaires depuis son compte utilisateur/autre, sauf si celles-ci ne peuvent être effectuées de manière autonome, dans quel cas la demande peut en être faite auprès de JVGO Business Builder.


					<br>
					<br>

					Conformément à l'article 19 du Règlement, le Responsable du traitement notifie à chaque destinataire auquel les données à caractère personnel ont été communiquées toute rectification des données à caractère personnel, à moins qu'une telle communication se révèle impossible ou exige des efforts disproportionnés. Le responsable du traitement fournit à la personne concernée des informations sur ces destinataires si celle-ci en fait la demande.


					<br>
					<br>
					Droit à l'effacement


					<br>
					<br>
					L'Utilisateur a le droit d'obtenir l'effacement de ses données personnelles dans les meilleurs délais dans les hypothèses énumérées à l'article 17 du Règlement.


					<br>
					<br>
					Lorsque le Responsable de Traitement a rendu publiques les données à caractère personnel et qu'il est tenu de les effacer en vertu du paragraphe précédent, le Responsable du traitement, compte tenu des technologies disponibles et des coûts de mise en œuvre, prend des mesures raisonnables, y compris d'ordre technique, pour informer les autres responsables du traitement qui traitent ces données à caractère personnel que la personne concernée a demandé l'effacement par ces responsables du traitement de tout lien vers ces données à caractère personnel, ou de toute copie ou reproduction de celles-ci.


					<br>
					<br>
					Les deux paragraphes précédents ne s'appliquent pas dans la mesure où ce traitement est nécessaire :


					<br>
					<br>
					- à l'exercice du droit à la liberté d'expression et d’information ;


					<br>
					<br>
					- pour respecter une obligation légale qui requiert le traitement prévu par le droit de l'Union ou par le droit de l'État membre auquel le responsable du traitement est soumis, ou pour exécuter une mission d'intérêt public ou relevant de l'exercice de l'autorité publique dont est investi le responsable du traitement ;


					<br>
					<br>
					- à la constatation, à l'exercice ou à la défense de droits en justice.


					<br>
					<br>

					Conformément à l'article 19 du Règlement, le Responsable du traitement notifie à chaque destinataire auquel les données à caractère personnel ont été communiquées tout effacement de données à caractère personnel ou toute limitation du traitement effectué, à moins qu'une telle communication se révèle impossible ou exige des efforts disproportionnés. Le responsable du traitement fournit à la personne concernée des informations sur ces destinataires si celle-ci en fait la demande.


					<br>
					<br>

					<b>Droit de limitation du traitement</b>


					<br>
					<br>
					L'Utilisateur a le droit d'obtenir la limitation du traitement de ses données personnelles dans les hypothèses énumérées à l'article 19 du Règlement.


					<br>
					<br>
					Conformément à l'article 19 du Règlement, le Responsable du traitement notifie à chaque destinataire auquel les données à caractère personnel ont été communiquées toute limitation du traitement effectué, à moins qu'une telle communication se révèle impossible ou exige des efforts disproportionnés. Le responsable du traitement fournit à la personne concernée des informations sur ces destinataires si celle-ci en fait la demande.


					<br>
					<br>

					<b>Droit de portabilité des données</b>


					<br>
					<br>
					Conformément à l'article 20 du Règlement, les Utilisateurs ont le droit de recevoir de JVGO Business Builder les données à caractère personnel les concernant dans un format structuré, couramment utilisé et lisible par machine. Les Utilisateurs ont le droit de transmettre ces données à un autre responsable du traitement sans que JVGO Business Builder y fasse obstacle dans les cas prévus par le Règlement.


					<br>
					<br>

					Lorsque l'Utilisateur exerce son droit à la portabilité des données en application du paragraphe précédent, elle a le droit d'obtenir que les données à caractère personnel soient transmises directement d'un responsable du traitement à un autre, lorsque cela est techniquement possible.


					<br>
					<br>
					L'exercice du droit de portabilité des données s'entend sans préjudice du droit à l'effacement. Ce droit ne s'applique pas au traitement nécessaire à l'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique dont est investi le responsable du traitement.


					<br>
					<br>
					Le droit de portabilité des données ne porte pas atteinte aux droits et libertés de tiers.


					<br>
					<br>

					<b>Droit d'opposition et prise de décision individuelle automatisée</b>


					<br>
					<br>
					L'Utilisateur dispose à tout moment du droit de s'opposer au traitement de ses données personnelles en raison de sa situation particulière, y compris l'automatisation des données effectuée par JVGO Business Builder. Conformément à l'article 21 du Règlement, JVGO Business Builder ne traitera plus les données à caractère personnel, à moins qu'il existe des motifs légitimes et impérieux pour le traitement qui prévalent sur les intérêts et les droits et libertés de l'Utilisateur, ou pour la constatation, l'exercice ou la défense de droits en justice.


					<br>
					<br>
					Lorsque les données à caractère personnel sont traitées à des fins de prospection, l'Utilisateur a le droit de s'opposer à tout moment au traitement des données à caractère personnel la concernant à de telles fins de prospection, y compris au profilage dans la mesure où il est lié à une telle prospection.


					<br>
					<br>
					Lorsque la personne concernée s'oppose au traitement à des fins de prospection, les données à caractère personnel ne sont plus traitées à ces fins.


					<br>
					<br>

					<b>Droit de plainte</b>


					<br>
					<br>
					L'Utilisateur dispose du droit d'introduire une plainte concernant le traitement de ses données personnelles par JVGO Business Builder auprès de l'Autorité de Protection des Données, compétente pour le territoire belge. De plus amples informations peuvent être trouvées sur le site internet : https://www.autoriteprotectiondonnees.be.


					<br>
					<br>
					L'introduction d'une plainte se fait aux adresses suivantes :


					<br>
					<br>
					Autorité de Protection des Données


					<br>
					<br>
					Rue de la Presse 35, 1000 Bruxelles


					<br>
					<br>
					Tél. + 32 2 274 48 00


					<br>
					<br>
					Fax. + 32 2 274 48 35


					<br>
					<br>
					E-mail : contact@apd-gba.be


					<br>
					<br>

					L'Utilisateur peut également introduire une plainte auprès du tribunal de première instance de son domicile.


					<br>
					<br>


					<b>9. Cookies</b>


					<br>
					<br>
					Le Site utilise des cookies pour distinguer les Utilisateurs du Site. Cela permet de fournir aux Utilisateurs une meilleure expérience de navigation et une amélioration du Site et de son contenu. Les objectifs et modalités des cookies sont contenus dans ce présent article.


					<br>
					<br>
					<b>Principes généraux</b>


					<br>
					<br>
					Un "Cookie" est un fichier déposé temporairement ou de façon permanente sur le disque dur de l'Utilisateur lors de la consultation du Site Internet, en vue d'une connexion ultérieure. Grâce aux cookies, le serveur reconnaît l'ordinateur de l'Utilisateur.


					<br>
					<br>
					Les cookies peuvent aussi être installés par des tiers avec lesquels JVGO Business Builder collabore.


					<br>
					<br>
					Certains des cookies utilisés par JVGO Business Builder sont nécessaires au bon fonctionnement du Site, d'autres permettent d'améliorer l'expérience de l'Utilisateur.


					<br>
					<br>
					L'Utilisateur peut personnaliser ou désactiver les cookies en paramétrant son navigateur.


					<br>
					<br>
					En utilisant le Site Internet, l'Utilisateur marque expressément son accord avec la gestion des cookies telle que décrite dans le présent article.


					<br>
					<br>
					<b>Type de cookies et finalités poursuivies</b>


					<br>
					<br>
					Différents types de cookies sont utilisés par JVGO Business Builder sur le Site :


					<br>
					<br>
					- Les cookies techniques : ils sont nécessaires à l'exploitation du Site Internet, permettent la communication des données introduites et sont destinés à faciliter la navigation de l'Utilisateur ;


					<br>
					<br>
					- Les cookies de mesures statistiques et d'audience : ces cookies permettent la reconnaissance de l'Utilisateur et sont utilisés afin de comptabiliser le nombre d'Utilisateurs du Site Internet sur une certaine période. Dès lors qu'ils indiquent aussi le comportement de navigation, ils sont un moyen efficace pour améliorer la navigation de l'Utilisateur, en lui affichant des propositions et offres susceptibles de l'intéresser. Ils permettent aussi à JVGO Business Builder de repérer les possibles bugs sur le Site Internet et de les corriger.


					<br>
					<br>
					- Les cookies fonctionnels : ces cookies facilitent l'utilisation du Site Internet en retenant certains choix introduits (par exemple, le nom d'utilisateur ou la langue) ;


					<br>
					<br>
					- Les cookies de traçage : JVGO Business Builder utilise des cookies de traçage via Google Analytics, pour mesurer l'interaction des Utilisateurs avec le contenu du Site et produire des statistiques anonymes. Ces statistiques permettent à JVGO Business Builder de perfectionner le Site Internet. Google étaye l'explication de ces cookies à l'adresse suivante : http://www.google.nl/intl/en_uk/policies/privacy/


					<br>
					<br>


					<b>Délai de conservation des cookies</b>


					<br>
					<br>
					Les cookies sont conservés pour le temps nécessaire à l'accomplissement de la finalité poursuivie. Les cookies susceptibles d'être stockés sur le disque dur de l'Utilisateur ainsi que leur délai de conservation sont les suivants :


					<br>
					<br>
					-GA : 1 an


					<br>
					<br>
					-PTR : 1 an


					<br>
					<br>


					<b>Gestion des cookies</b>


					<br>
					<br>
					Si l'Utilisateur ne veut pas que le Site Internet place des cookies sur son disque dur, il lui est aisé de les gérer ou les supprimer en modifiant les paramètres de son navigateur. La programmation du navigateur permet aussi à l'Utilisateur de recevoir un avis ou une notification dès qu'un Site Internet utilise des cookies et ainsi décider d'accepter cela, ou de le refuser.


					<br>
					<br>
					Si l'Utilisateur désactive certains cookies, il accepte que le Site Internet puisse ne pas fonctionner de manière optimale. Certaines parties du Site Internet pourraient ainsi ne pas être utilisables, ou l'être partiellement.


					<br>
					<br>
					Si l'Utilisateur souhaite ainsi gérer et/ou supprimer certains cookies, il peut le faire en utilisant le/les lien(s) suivant(s) :


					<br>
					<br>
					- Pour les Utilisateurs ayant comme navigateur Internet Explorer : http://windows.microsoft.com/en-us/windows-vista/block-or-allow-cookies


					<br>
					<br>
					- Pour les Utilisateurs ayant comme navigateur Microsoft Edge : http://windows.microsoft.com/en-gb/windows-10/edge-privacy-faq</li>


				<br>
				<br>
				- Pour les Utilisateurs ayant comme navigateur Chrome : https://support.google.com/accounts/answer/61416?hl=fr</li>


			<br>
			<br>
			- Pour les Utilisateurs ayant comme navigateur Firefox : https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences


			<br>
			<br>
			- Pour les Utilisateurs ayant comme navigateur Safari : https://support.apple.com/kb/ph21411?locale=fr_CA</li>


		<br>
		<br>

		Si l'Utilisateur refuse que les cookies de Google Analytics soient utilisés, il est invité à paramétrer son navigateur en ce sens, sur le site web suivant : http://tools.google.com/dlpage/gaoptout.


		<br>
		<br>


		<b>10. Avertissement en cas de violation des données personnelles</b>


		<br>
		<br>
		Au cas où il y aurait un risque pour vos données, JVGO Business Builder vous avertira par email ainsi que les autorités de surveillance compétentes dans les 72 heures. Ce courriel contiendra des informations sur le degré d’intrusion, les données concernées, l’impact sur le Service, ainsi que sur le plan d’action et les mesures envisagées pour sécuriser les données et limiter les effets néfastes potentiels pour les personnes concernées.


		<br>

		<br>
		<b>11. Données transférées hors EU</b>


		<br>
		<br>
		En cas de navigation sur le site www.jvgo.be (Voir Article Cookies) ou contractualisation avec JVGO Business Builder, certains destinataires de vos données sont situés en dehors de l’Union européenne. Les garanties suivantes ont été prises pour s’assurer d’un niveau de protection suffisant de vos informations :


		<br>
		<br>- Le ou les destinataires adhèrent aux principes du « Privacy Shield » ;


		<br>
		<br>-  Le transfert est encadré, conformément aux exigences du Règlement européen n°2016/679/UE du 27 avril 2016, notamment par des clauses types de protection adoptées par la Commission européenne.


		<br>
		<br>
		JVGO Business Builder surveillera l’adhésion de ses sous-traitants à ces normes afin de s’assurer que les exigences en matière de protection des données soient satisfaites.


		<br>
		<br>
		JVGO Business Builder ne vend, n’échange ni ne transfère d’aucune autre manière la moindre information personnelle identifiable à des parties extérieures. Cela n’inclut pas les tierces parties ou sous-traitants qui nous apportent leur contribution dans le fonctionnement de notre site, de notre entreprise et de nos services. Ces tierces parties peuvent avoir accès à des informations personnelles identifiables au cas par cas et seront contractuellement obligées de maintenir la confidentialité de vos informations.


		<br>
		<br>
		<b>12. Limitation de responsabilité du Responsable de traitement</b>


		<br>
		<br>
		Le site Internet peut contenir des liens vers d'autres sites internet détenus par des tiers non liés à JVGO Business Builder. Le contenu de ces sites et le respect de ceux-ci au regard de la Loi et du Règlement ne relèvent pas de la responsabilité de JVGO Business Builder.


		<br>
		<br>
		Le titulaire de l'autorité parentale doit donner son consentement exprès pour que le mineur de moins de 16 ans puisse divulguer des informations ou données personnelles sur le site Internet.


		<br>
		<br>
		JVGO Business Builder conseille vivement aux personnes exerçant l'autorité parentale sur des mineurs de promouvoir une utilisation responsable et sécurisée d'Internet. Le Responsable de traitement ne peut être tenu responsable pour avoir collecté et traité des informations et données personnelles de mineurs de moins de 16 ans dont le consentement n'est pas effectivement couvert par celui de leurs parents légaux ou pour des données incorrectes - notamment concernant l'âge - introduites par des mineurs. En aucun cas, des données personnelles ne seront traitées par le Responsable de traitement si l'Utilisateur précise qu'il est âgé de moins de 16 ans.


		<br>
		<br>
		JVGO Business Builder n'est pas responsable de la perte, de la corruption ou du vol de données personnelles causés notamment par la présence de virus ou suite à des attaques informatiques.


		<br>
		<br>
		<b>13. Droit applicable et juridiction compétente</b>


		<br>
		<br>
		La présente Politique de confidentialité est exclusivement régie par le droit belge. Tout litige sera porté devant les tribunaux de l'arrondissement judiciaire du siège social de JVGO Business Builder.


		<br>
		<br>
		<b>14. Contact</b>


		<br>
		<br>
		Pour toute question ou réclamation relative à la présente Politique de confidentialité, l'Utilisateur peut contacter le Responsable du traitement via l'adresse suivant : info.jvgo@gmail.com.


		<br>
		<br>
	</div>

{% endblock %}
