@media screen and (max-width: 900px) {
  .stepper > li > div {
    width: 2rem !important;
  }
  .border-red,
  .border-left,
  .border-right {
    border: 0 !important;
  }
  .button-effect {
    width: 100%;
  }
  .row-4,
  .row-4-5 {
    width: 100% !important;
  }
  .hamburger-mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    height: 100% !important;
    width: 100% !important;
    background-color: var(--dark-blue);
    text-align: left;
  }

  .hide-max-md {
    display: none !important;
  }

  .fv, 
  .setpad {
    padding-inline: 15px;
  }
}
