{% extends 'base.html.twig' %}

{% block title %}
	Actualités 1 | JVGO
{% endblock %}

{% block body %}

	<div class="container-fluid py-lg-5  p-sm-4 p-md-4 size-7">
		<div class="row">
			<div class="col-lg-11 m-auto">
			<div style="margin-top:5em" class="d-sm-none d-md-block d-lg-block"></div>
			<div style="margin-top:2em" class="d-sm-block d-lg-none d-xl-none"></div>
				<p class="fw-3 m-0 opacity-3 font-ubuntu size-9">Comment créer son entreprise en Belgique ?
				</p>
				<p class="fw-2 m-0 mt-1 mb-4 size-4 opacity-1">Publier le 01/26/2022 par JVGO
					<span class="opacity-3 text-primary">(lecture en 10 min)</span>

				</p>

				<img src="{{asset('images/act1.jpg')}}" class="text-center" style="width:100%" alt=""/>
				<p class="fw-3 m-0 my-2 mt-4 opacity-3 font-ubuntu size-9">Comment créer son entreprise en Belgique ?
				</p>
				<p class="fw-2 m-0 mt-1 mb-4 size-4">
					<span class="bg-dark-blue p-2 px-4 rounded-pill text-light size-2">#ENTREPRISE</span>
					&nbsp;&nbsp;
					<span class="bg-dark-blue p-2 px-4 rounded-pill text-light size-2">#CREATION</span>

				</p>


				<p class="fw-2 m-0 my-3 mt-5 size-7 opacity-2">
					Chaque année, plus de 110 000 entreprises sont créées en Belgique. L’attractivité et le dynamisme du territoire bruxellois attirent de nombreux entrepreneurs en quête de nouveaux marchés.

				</p>

				<p class="fw-2 m-0 my-3 size-7 opacity-2">

					Vous débutez une activité et vous souhaitez créer votre entreprise sur le territoire belge ? Avant d’effectuer les démarches nécessaires à la création d’une entreprise, un entrepreneur est contraint d’effectuer un choix stratégique quant au statut juridique de celle-ci : il peut exercer son activité sous la forme d’une entreprise individuelle ou d’une société.

				</p>

				<p class="fw-2 m-0 my-3 size-7 opacity-2">

					Vous avez affiné votre projet d’entreprise ? Vous êtes prêt à entreprendre les démarches requises pour devenir un entrepreneur ! Les démarches administratives préalables à la création d’entreprise varient selon la nature de l’activité et la forme juridique choisie par l’entrepreneur.

				</p>

				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					Ainsi, la création d’une entreprise en Belgique nécessite de respecter certaines étapes. En fonction du statut juridique choisi par le dirigeant, les formalités de création d’une entreprise sur le territoire belge ne seront pas les mêmes selon que celui-ci exerce son activité seul ou accompagné de plusieurs associés.
				</p>

				<p class="fw-3 m-0 my-4 opacity-3 font-ubuntu size-9">Découvrons toutes les étapes ensemble !
				</p>
				<img src="{{asset('images/act1.jpg')}}" class="text-center" style="width:60%" alt=""/>
				<p class="fw-3 m-0 my-4 opacity-3 font-ubuntu size-9">La création d’une société en Belgique
				</p>

				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					Un entrepreneur souhaitant exercer son activité sous la forme d’une société doit respecter plusieurs étapes. Les démarches administratives de création d’une entreprise sont nombreuses et nécessitent de s’adresser à différents interlocuteurs.
				</p>
				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					Afin de vous éclairer sur les différentes formalités administratives requises, le statut juridique doit avoir été défini au préalable.
				</p>
				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					Une des premières formalités administratives requises est l’établissement d’un acte constitutif. Ce dernier doit comporter plusieurs éléments dont la dénomination de la société, sa forme juridique, l’adresse du siège social.
				</p>
				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					L’enregistrement de l’acte constitutif suppose l’inscription de l’entreprise à la Banque Carrefour des Entreprises (BCE). Celle-ci attribue un numéro d’entreprise à votre société. C’est une étape essentielle avant de débuter son activité. Le numéro d’entreprise est indispensable, il doit être mentionné sur tous les documents administratifs de l’entreprise (factures, annonces, actes). Le coût de l’inscription s’élève à 89,50 €. Par la suite, l’acte constitutif fait l’objet d’une publication au Moniteur Belge.
				</p>
				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					Parmi les démarches administratives à effectuer, l’entrepreneur doit ouvrir un compte bancaire auprès d’un établissement financier, afin de dissocier ses comptes privés de son compte professionnel. Le numéro du compte devra figurer sur tous les documents commerciaux (factures).
				</p>

				<p class="fw-3 m-0 my-4 opacity-3 font-ubuntu size-9">Avant le commencement de votre activité, vous devez vérifier si vous êtes assujettis à la TVA.
				</p>

				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					Pour obtenir votre identification à la TVA, vous devez déposer une déclaration de commencement d’activité au bureau de contrôle de la TVA dont dépend votre siège social. Cette demande peut s’effectuer par courrier, sur place ou via un guichet d’entreprises contre paiement.
				</p>
				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					Lorsque vous créez une société, vous devez l’affilier auprès d’une Caisse d’assurances sociales pour indépendants et payer une cotisation annuelle à charge des sociétés. Il peut également être utile de souscrire une assurance, certaines étant obligatoires.
				</p>
				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					Pour finir, si vous souhaitez engager du personnel, il est recommandé de s’affilier à un Secrétariat Social. Ce dernier accompagne l’entrepreneur et remplit à sa place les formalités imposées par la législation sur la sécurité sociale.
				</p>
				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					L’ensemble de ces formalités administratives est indispensable à la création d’une société en Belgique.
				</p>


				<p class="fw-3 m-0 my-4 opacity-3 font-ubuntu size-9">
					La création d’une entreprise individuelle en Belgique.
				</p>


				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					Les formalités requises pour créer une entreprise individuelle sont simplifiées. En effet, lorsque vous créez votre entreprise sous la forme d’une entreprise individuelle, le guichet d’entreprises est votre premier interlocuteur.
				</p>
				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					Puisque vous exercez votre activité sous la forme d’une entreprise individuelle, vous n’avez pas à établir un acte constitutif, démarche qui s’avère être assez contraignante pour les sociétés.
				</p>


				<p class="fw-3 m-0 my-4 opacity-3 font-ubuntu size-9">L’inscription à la Banque-Carrefour des Entreprises est une obligation pour les sociétés, mais également pour les entreprises individuelles.
				</p>

				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					Cependant, l’exercice d’une activité commerciale ou artisanale requérant l’inscription à la BCE nécessite la vérification de vos capacités entrepreneuriales.
				</p>
				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					Si l’entrepreneur répond aux conditions légales d’exercice de l’activité qu’il souhaite lancer, le guichet d’entreprises procède à l’enregistrement de son entreprise individuelle au sein de la Banque-Carrefour des Entreprises et à son inscription. Celle-ci attribue un numéro d’entreprise à votre société. Le coût de l’inscription s’élève à 89,50 €.
				</p>
				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					Par ailleurs, si vous exercez votre activité de manière indépendante, il est également conseillé d’ouvrir un compte bancaire auprès d’un établissement financier, en le dissociant de son compte personnel.
				</p>

				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					Même si elles demeurent assez similaires, les démarches administratives de création d’une entreprise individuelle sont plus souples que pour les sociétés.
				</p>
				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					Quid des formalités de création d’une association ?
				</p>


				<p class="fw-3 m-0 my-4 opacity-3 font-ubuntu size-9">La création d’une association en Belgique
				</p>


				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					Lorsque plusieurs personnes poursuivent un projet commun, la création d’une association sans but lucratif (ASBL) est envisageable. Si vous souhaitez vous lancer dans le secteur associatif en Belgique, il est primordial de procéder étape par étape.
				</p>
				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					La première étape est cruciale : il s’agit de la rédaction des statuts, en veillant à mentionner les éléments obligatoires prévus par la loi :
				</p>


				<p class="fw-2 m-0 my-3 size-7 opacity-2">

					<i class="mdi mdi-circle size-2 is-text-primary"></i>
					&nbsp; L’identité des membres fondateurs ;
				</p>
				<p class="fw-2 m-0 my-3 size-7 opacity-2">

					<i class="mdi mdi-circle size-2 is-text-primary"></i>
					&nbsp; La dénomination ;
				</p>
				<p class="fw-2 m-0 my-3 size-7 opacity-2">

					<i class="mdi mdi-circle size-2 is-text-primary"></i>
					&nbsp; Le but social ;
				</p>
				<p class="fw-2 m-0 my-3 size-7 opacity-2">

					<i class="mdi mdi-circle size-2 is-text-primary"></i>
					&nbsp; Le siège social, ...
				</p>


				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					La deuxième étape consiste à désigner les administrateurs qui siègeront au Conseil d’administration.
				</p>
				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					Ensuite, les membres devront rédiger le procès-verbal de l’Assemblée générale constituante.
				</p>
				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					Pour finir, il vous suffira simplement de remplir les formalités de publicité. Les greffes des Tribunaux de Commerce tiennent un dossier pour chaque ASBL, contenant les éléments suivants :
				</p>


				<p class="fw-2 m-0 my-3 size-7 opacity-2">

					<i class="mdi mdi-circle size-2 is-text-primary"></i>
					&nbsp; Un exemplaire des statuts de l’association ;
				</p>
				<p class="fw-2 m-0 my-3 size-7 opacity-2">

					<i class="mdi mdi-circle size-2 is-text-primary"></i>
					&nbsp; L’acte de désignation des administrateurs, signé par les personnes habilitées à représenter l’association ;
				</p>
				<p class="fw-2 m-0 my-3 size-7 opacity-2">

					<i class="mdi mdi-circle size-2 is-text-primary"></i>
					&nbsp; Le formulaire de demande d’immatriculation et de publication au Moniteur Belge.
				</p>


				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					En fonction du statut juridique choisi par l’entrepreneur (société, entreprise individuelle ou ASBL), ce dernier devra suivre toutes les étapes requises pour la création de son projet.
				</p>

				<p class="fw-3 m-0 my-4 opacity-3 font-ubuntu size-9">La plupart des démarches administratives s’effectuent en ligne, sur le site de l’organisme habilité.
				</p>


				<p class="fw-2 m-0 my-3 size-7 opacity-2">
					Si vous présentez des difficultés au moment de la matérialisation de votre projet, il est conseillé de se rapprocher des spécialistes de la création d’entreprise, afin de ne pas commettre d’erreurs sur votre dossier de création.
				</p>

				<p class="fw-2 m-0 my-3 mb-5 size-7 opacity-2">Les guichets d’entreprises sont les interlocuteurs privilégiés des entrepreneurs.
				</p>

                <p class="is-pointer" onclick="print()" >
                    <i class="mdi mdi-printer size-5 is-text-primary"></i>
                    <span class="opacity-2">Imprimer cette page</span>
                </p>

			</div>
		</div>
	</div>

{% endblock %}
