{% extends 'base.html.twig' %}

{% block title %}Apropos | JVGO
{% endblock %}

{% block body %}
	<div class="container-fluid mt-1 py-2">
		<div style="margin-top:8em" class="d-sm-none d-md-block d-lg-block"></div>
		<div style="margin-top:4em" class="d-sm-block d-lg-none d-xl-none"></div>
		<div class="row p-2 ">
			<div class="col-lg-12 m-auto d-flex justify-content-center">
				<div class="container-fluid fv">
					<div class="row" style="padding-top:25px; padding-bottom:30px">
						<div class="col-lg-10 pt-3 m-auto text-center">

							<h1 class="size-10 fw-bolder pr-5  is-text-primary">
								<span class="">Qui</span>
								sommes-nous?</h1>

							<h2 class="size-7 mt-4 opacity-3">
								Nous sommes tout d’abord des entrepreneurs car l'entrepreneuriat
								est devenu pour nous une réelle passion ! <br> Notre société est située
								à Bruxelles et nous voulons vous aider à créer<br> votre propre
								entreprise qui sera à la fois rentable et au service de votre vie.
							</h2>

							<h2 class="size-7 mt-4 opacity-3">
								Vous voyez grand ? Nous aussi ! C’est pour cela que, pour
								optimiser votre fiscalité, nous pourrons vous<br> proposer, par exemple,
								une délocalisation de vos activités pour vous permettre de payer
								moins <br> d’impôt légalement, en fonction de la divergence des
								législations des pays européens.
							</h2>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{# section 1 #}

	<div class="container" style="padding-top:40px; padding-bottom:50px;">
		<div class="row px-sm-3 px-md-3">

			<div class="col-lg-5 p-lg-2">
				<div style="background: url('images/about.jpg') center center;border-radius:10px !important; width: 100%; height:100%;  background-repeat: no-repeat; background-size: cover;"></div>
			</div>

			<div class="col-lg-7 m-auto">
				<div class="p-lg-5">
					<div class="">

						<p class="size-10 font-ubuntu fw-bolder pr-5 mt-2 is-text-primary">
							Nos valeurs</p>

						<p class="size-7 opacity-3 mt-3  d-flex justify-content-lg-start gap-2">
						<i class="mdi mdi-check size-7 is-text-primary"></i>
							<span class="">								
								<b class="px-2">Transparence</b>
								: Vous recevez des informations claires et concrètes, dès le début, tant sur la tarification que sur les délais d'exécution. Vous avez accès à votre dossier dont vous pouvez suivre la progression en temps réel.
							</span>
							

						</p>

						<p class="size-7 opacity-3 mt-3  d-flex justify-content-lg-start gap-2">
							<i class="mdi mdi-check size-7 is-text-primary"></i>
							<span class="">								
								<b class="px-2">Croissance</b>
								: Nous vous aidons à grandir sur le plan professionnel mais aussi sur le plan personnel. Car un business qui évolue, cela implique des êtres humains prêts à se dépasser et nous chercherons nous-même aussi à progresser.
							</span>
							

						</p>


						<p class="size-7 opacity-3 mt-3  d-flex justify-content-lg-start gap-2">
							<i class="mdi mdi-check size-7 is-text-primary"></i>
							<span class="">								
								<b class="px-2">Fidélité</b>
								: Être fidèle à soi, aux autres, à ses convictions, à ses engagements et à ses désirs profonds est, selon nous, la base indispensable pour créer une relation saine et durable avec toutes les personnes qui nous entourent.
							</span>
							
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>


	{# section 2 #}

	<div class="col-12 bg-light">

		<div class="container" style="padding-top:50px; padding-bottom:50px;">
			<div class="row px-sm-3 px-md-3">

				<div class="col-lg-7 m-auto">
					<div class="p-lg-5">
						<div class="">
							<p class="size-10 font-ubuntu fw-bolder pr-5 mt-2 is-text-primary">
								Notre mission</p>
							<p class="size-7 opacity-3 m-0 mb-2">
								Vous écouter, vous donner des conseils personnalisés.

							</p>
							<p class="size-7 opacity-3 m-0 mb-2">Créer avec vous un business sur mesure qui corresponde à vos
																valeurs et à vos ambitions.
							</p>

							<p class="size-7 opacity-3 m-0 my-2">
								Vous accompagner à différents stades de votre business :
																																							Clarifier vos objectifs et vos besoins, engager du personnel, développer à l'international.
							</p>

						</div>
					</div>

				</div>

				<div class="col-lg-5 p-lg-2">
					<div style="background: url('images/vvv-min.jpg') center center;border-radius:10px !important; width: 100%; height:100%;  background-repeat: no-repeat; background-size: cover;"></div>
				</div>

			</div>
		</div>

	</div>


	<div class="container" style="padding-top:50px; padding-bottom:50px;">
		<div class="row px-sm-3 px-md-3">

			<div class="col-lg-5 p-lg-2">
				<div style="background: url('images/about.jpg') center center;border-radius:10px !important; width: 100%; height:100%;  background-repeat: no-repeat; background-size: cover;"></div>
			</div>

			<div class="col-lg-7 m-auto">
				<div class="p-lg-5">
					<div class="">
						<p class="size-10 font-ubuntu fw-bolder pr-5 mt-2 mt-sm-0 mt-md-0 is-text-primary">
							Notre									vision</p>
						<p class="size-7 opacity-3 m-0 my-1">
							Nous voulons des entrepreneurs qui se sentent
							libres de pouvoir travailler où, quand et comment ils veulent.
						</p>
						
						<p class="size-7 opacity-3 m-0 my-1">
							Un business qui fonctionne bien
																														, cela
																														
																															rend les gens heureux :
																														clients, employés, employeurs, collaborateurs, investisseurs …
						</p>

					</div>
				</div>

			</div>
		</div>
	</div>


	<div class="p-2 container py-5 pt-3 pt-sm-0 pt-md-0" style="padding-top:50px; padding-bottom:50px;">
		<div class="row">


			<p class="size-10 font-ubuntu fw-bolder pr-5 pb-4 pb-sm-1 pb-md-1 is-text-primary text-sm-center text-md-center text-lg-start text-xl-start">
				Notre	équipe</p>

			<div class="col-lg-4 col-sm-10 col-md-4  m-lg-0 m-sm-auto m-md-auto">
				<div class="rounded border-all p-2 m-2 mb-sm-4 mb-md-4 min-height text-center">


					<div class="p-2" style=" background: url('../images/ToudjeJosias.png') center center;
																																											  background-repeat: no-repeat;
																																											  background-size: cover;height: 300px;"></div>


					<div>
						<p class="size-4 m-0 opacity-2 mt-4">
							JURISTE FISCALISTE
						</p>
						<p class="opacity-3 font-ubuntu m-0 is-text-primary size-7 fw-5 ">Josias Toudje</p>
						<p class="size-4 opacity-2 my-1">
							(CO-FOUNDER)
						</p>

						<div class="">
							<i class="mdi mdi-facebook size-9 is-text-primary opacity-2 px-2"></i>
							<i class="mdi mdi-twitter size-9 is-text-primary opacity-2 px-2"></i>
						</div>

					</div>


				</div>
			</div>

			<div class="col-lg-4 col-sm-10 col-md-5  m-lg-0 m-sm-auto m-md-auto">
				<div class="rounded border-all p-2 m-2 min-height text-center">

					<div style=" background: url('../images/ValerieDecoste.jpg') center center;
																																										  background-repeat: no-repeat;
																																										  background-size: cover;height: 300px;"></div>


					<div>
						<p class="size-4 m-0 opacity-2 mt-4">
							OFFICE COORDINATOR
						</p>
						<p class="opacity-3 font-ubuntu m-0 is-text-primary size-7 fw-5">Valérie De Coster</p>
						<p class="size-4 opacity-2 my-1">
							(CO-FOUNDER)
						</p>

						<div class="">
							<i class="mdi mdi-facebook size-9 is-text-primary opacity-2 px-2"></i>
							<i class="mdi mdi-twitter size-9 is-text-primary opacity-2 px-2"></i>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>


{% endblock %}
