{% extends 'base.html.twig' %}

{% block title %}
	Service comptabilité | JVGO
{% endblock %}

{% block body %}

	<div class="col-12 d-flex justify-content-center bg-light py-4">
	<div class="container-fluid px-sm-0 px-md-0 py-5 fv">
		<div style="margin-top:8em" class="d-sm-none d-md-block d-lg-block"></div>
		<div style="margin-top:4em" class="d-sm-block d-lg-none d-xl-none"></div>
		<div class="row">
			<div class="col-11 m-auto">
				<div class="container-fluid px-sm-0 px-md-0">
					<div class="row px-sm-3 px-md-3">

						<div class="col-lg-5 p-lg-2">
							<div style="background: url('/images/optimisation.jpg') center center;border-radius:10px !important; width: 100%; height:100%;  background-repeat: no-repeat; background-size: cover;"></div>
						</div>

						<div class="col-lg-7 m-auto">
							<div class="p-lg-5">
								<div class="">
									<p class="size-9 font-ubuntu fw-bolder pr-5 mt-2 is-text-primary">SERVICE COMPTABILITE</p>
									<p class="size-6 opacity-3 m-0 my-1">
										Notre action comptable améliore vos ratios,<b>
											facilite votre compréhension</b>
										des chiffres et devient un outil de gestion efficace.
										<b>Comptabilité générale</b>, Comptabilité analytique, Organisation, tenue, suivi de comptabilité, Etablissement des comptes annuels, Etablissement des déclarations périodiques,<b>
											Rattrapage de comptabilité</b>, Audit interne.

									</p>
									<p class="size-6 opacity-3 m-0 my-4">
										Dépôt et publication des comptes annuels
																															Nous facilitons votre publication de chiffres à la
										<b>banque nationale</b>. Nos outils d’analyses bilans évaluent le pouls et les paramètres de votre entreprise.
									</p>

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

{% endblock %}
