{% extends 'base.html.twig' %}

{% block title %}
	Service comptabilité | JVGO
{% endblock %}

{% block body %}

	<div class="container-fluid my-3 p-lg-4">
		<div class="row">
			<div class="col-lg-12 m-auto">
			
				<div class="container-fluid mt-2">
					<div class="row py-3">
						<div class="col-lg-4 grid place-items">
							<img src="{{asset('images/optimisation.jpg')}}" class="row-4 rounded" alt="" srcset=""/>
						</div>
						<div class="col-lg-8 grid place-items">
							<div class="">
								<p class="size-9 font-ubuntu fw-bolder pr-5 mt-2 is-text-primary">SERVICE COMPTABILITE</p>
								<p class="size-6 opacity-3 m-0 my-1">
									Notre action comptable améliore vos ratios,<b> facilite votre compréhension</b> des chiffres et devient un outil de gestion efficace.
												<b>Comptabilité générale</b>, Comptabilité analytique, Organisation, tenue, suivi de comptabilité, Etablissement des comptes annuels, Etablissement des déclarations périodiques,<b> Rattrapage de comptabilité</b>, Audit interne.

								</p>
								<p class="size-6 opacity-3 m-0 my-4">
									Dépôt et publication des comptes annuels
												Nous facilitons votre publication de chiffres à la <b>banque nationale</b>. Nos outils d’analyses bilans évaluent le pouls et les paramètres de votre entreprise.
								</p>

							</div>

						</div>
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>


{% endblock %}
