{% extends 'base.html.twig' %}

{% block title %}
	Service creation des entreprise | JVGO
{% endblock %}

{% block body %}

	<div class="col-12 d-flex justify-content-center py-2 bg-light ">
	<div class="container-fluid px-sm-0 px-md-0 py-5 fv" style="padding-top:10px !important;">
		<div style="margin-top:8em" class="d-sm-none d-md-block d-lg-block"></div>
		<div style="margin-top:4em" class="d-sm-block d-lg-none d-xl-none"></div>
		<div class="row">
			<div class="col-11 m-auto">
				<div class="container-fluid px-sm-0 px-md-0">
					<div class="row px-sm-3 px-md-3">

						<div class="col-lg-5 p-lg-2">
							<div style="background: url('/images/optimisation.jpg') center center;border-radius:10px !important; width: 100%; height:100%;  background-repeat: no-repeat; background-size: cover;"></div>
						</div>

						<div class="col-lg-7 m-auto">
							<div class="p-lg-5">
								<div class="">
									<p class="size-9 font-ubuntu fw-bolder pr-5 mt-2 is-text-primary">SERVICE CREATION D’ENTREPRISE</p>
									<p class="opacity-3 size-7">Vous êtes entrepreneur ou dirigeant ?</p>
									<p>Vous avez choisi de créer une entreprise afin de mieux structurer vos activités et trouver de nouveaux clients ?</p>
									<p class="my-3">Notre préoccupation majeure est de vous faciliter la vie (dans les formalités administratives), vous faire gagner du temps, faciliter vos démarches et rendre vos projets opérationnels le plus rapidement possible et dans les meilleures conditions, en vous permettant de faire les bons choix, vous constituer un dossier solide et trouver rapidement vos premiers clients!</p>
									<br>

									<p>
										<b class="size-7 is-text-primary">Notre process :</b>
									</p>

									<div class="size-6 p-3 pl-lg-5 p-sm-1">
										<p class="m-0 my-1">
											<i class="mdi mdi-check is-text-primary"></i>
											&nbsp; &nbsp;
																												Analyse conseil / Rédaction de votre business plan</p>
										<p class="m-0 my-1">
											<i class="mdi mdi-check is-text-primary"></i>
											&nbsp; &nbsp;
																												Analyse / Réalisation de votre étude de marché</p>
										<p class="m-0 my-1">
											<i class="mdi mdi-check is-text-primary"></i>
											&nbsp; &nbsp;
																												Assistance dans la rédaction du plan financier</p>
										<p class="m-0 my-1">
											<i class="mdi mdi-check is-text-primary"></i>
											&nbsp; &nbsp;
																												Les statuts = Rédaction des projets de statuts</p>
										<p class="m-0 my-1">
											<i class="mdi mdi-check is-text-primary"></i>
											&nbsp; &nbsp;
																												Le Notaire = Prise de contact avec le Notaire</p>
										<p class="m-0 my-1">
											<i class="mdi mdi-check is-text-primary"></i>
											&nbsp; &nbsp;
																												Dépôt des statuts = Dépôt et publication des statuts</p>
										<p class="m-0 my-1">
											<i class="mdi mdi-check is-text-primary"></i>
											&nbsp; &nbsp;
																												Compte bancaire = Ouverture d'un compte bancaire</p>
										<p class="m-0 my-1">
											<i class="mdi mdi-check is-text-primary"></i>
											&nbsp; &nbsp;
																												TVA = Activation de la TVA et de la Banque Carrefour des Entreprises</p>
									</div>


								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div></div>



{% endblock %}
