{% extends 'base.html.twig' %}

{% block title %}
	Service fiscalité | JVGO
{% endblock %}

{% block body %}

	<div class="container-fluid my-5 p-lg-4">
		<div class="row">
			<div class="col-lg-12 m-auto">
				<br>
				<div class="container-fluid mt-2">
					<div class="row py-3">
						<div class="col-lg-4  grid place-items">
							<img src="{{asset('images/optimisation.jpg')}}" class="row-4 rounded" alt="" srcset=""/>
						</div>
						<div class="col-lg-8 grid place-items">
							<div class="">
								<p class="size-9 font-ubuntu fw-bolder pr-5 mt-2 is-text-primary">SERVICE FISCALITE</p>
								<p class="opacity-3 size-6">Nous réalisons vos déclarations fiscales de type TVA, d’impôt des personnes physiques, des sociétés et autres.</p>
								<p class="opacity-3 size-6">Nous vous défendons lors de contrôles fiscaux et vous apportons notre assistance technique et juridique dans le cadre de toute procédure de réclamation.</p>

								<p class="opacity-3 size-6 fw-4 my-2">Vérification des avertissements-extraits de rôle et Conseil fiscal</p>

								<p class="my-3 size-6">L’optimalisation : notre schéma fiscal optimum est en accord avec votre objectif final. Nous vous vous accompagnons dans l’amélioration de vos différentes formes de rémunérations !
																																	La planification fiscale et formalités connexes : notre planification fiscale tient compte de la complexité de votre situation.

								</p>


								<div class="size-6 p-3 pl-lg-5 p-sm-1">
									<p class="m-0 my-2 size-6">
										<i class="mdi mdi-check is-text-primary"></i>
										<b>Une optimisation salariale :</b>
										nous mettons à votre disposition les outils légaux pour obtenir les mêmes revenus à moindre coût.</p>

									<p class="m-0 my-2 size-6">
										<i class="mdi mdi-check is-text-primary"></i>
										<b>Un tarif transparent :</b>
										chez JVGO, les tarifs sont simples, transparents et connus à l’avance.</p>


								</div>
							</div>

						</div>
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>


{% endblock %}
