{% extends 'base.html.twig' %}

{% block title %}Nos services | JVGO
{% endblock %}

{% block body %}

	<div class="container-fluid section-1 px-3">
	<div style="margin-top:8em" class="d-sm-none d-md-block d-lg-block"></div>
		<div style="margin-top:4em" class="d-sm-block d-lg-none d-xl-none"></div>
		<div class="row"  style="padding-top:30px; padding-bottom:30px">
			<div class="col-lg-8 size-10 pt-4 m-auto">
				<div class="text-center">
					<h1 class="size-10 font-ubuntu fw-bolder pr-5 mt-1 is-text-primary">
						Ce que nous
						<span class="">et rapidement !</span>
						<br>
						faisons pour vous
						<br/>
					</h1>
					<h2 class="size-7 fw-2 my-4 opacity-3">
						Nous vous facilitons la vie d’entrepreneur en vous accompagnant
tant dans <br> la création de votre entreprise qu’ensuite dans la gestion nancière de celle-ci au
quotidien.
					</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="p-2 container py-4">
		<div class="row"  style="padding-bottom:40px">


			<div class="col-lg-4 ">
				<a href="/services/comptabilite" class="text-dark">
				<div class="rounded border-all p-4 m-1">
					<p class="text-center">
						<img src="{{ asset('assets/images/latest/3.png')}}" style="width:100%">
					</p>
					<p class="is-text-primary size-7 fw-5 border-primary border-2">
						<u>COMPTABILITE</u>
					</p>
					<p class="opacity-3 size-7">Notre action comptable améliore vos ratios, facilite votre compréhension des chiffres et devient un outil de gestion efficace </p>
					<p class="is-text-primary">Lire plus...</p>
												

				</div>
				</a>
			</div>

			<div class="col-lg-4 ">
				<a href="/services/creation-entreprise" class="text-dark">
				<div class="rounded border-all p-4 m-1">
					<p class="text-center">
						<img src="{{ asset('assets/images/latest/4.png')}}" style="width:100%">
					</p>
					<p class="is-text-primary size-7 fw-5 border-primary border-2">
						<u>CREATION D’ENTREPRISE</u>
					</p>
					<p class="opacity-3 size-7">Vous êtes entrepreneur ou dirigeant ? <br>
					Vous avez choisi de créer une ...</p>
					<p class="is-text-primary mb-3">Lire plus...</p>
				</div>
				</a>
			</div>


			<div class="col-lg-4 ">
				<a href="/services/fiscalite" class="text-dark">
				<div class="rounded border-all p-4 m-1">
					<p class="text-center">
						<img src="{{ asset('assets/images/latest/2.png')}}" style="width:100%">
					</p>
					<p class="is-text-primary size-7 fw-5 border-primary border-2">
						<u>FISCALITE</u>
					</p>
					<p class="opacity-3 size-7">Nous réalisons vos déclarations fiscales de type TVA, d’impôt des personnes physiques, des sociétés et autres.</p>
					<p class="is-text-primary mb-0">Lire plus...</p>

				</div>
				</a>
			</div>
		</div>
	</div>


{% endblock %}
