{% extends 'base.html.twig' %}

{% block title %}Nos services | JVGO
{% endblock %}

{% block body %}

	<div class="container-fluid section-1 px-3">
		<div class="row">
			<div class="col-lg-8 size-10 pt-5 m-auto">
				<div class="text-center">
					<p class="size-10 font-ubuntu fw-bolder pr-5 mt-2 is-text-primary">
						Ce que nous
						<span class="text-dark">et rapidement !</span>
						faisons pour vous
						<br/>
					</p>
					<p class="size-6 fw-2 my-4 opacity-3">
						<b>Démarrez la création de votre société</b>
						en quelques clics et nous nous occupons du reste. Toutes les étapes de création de votre entreprise, du choix de votre statut juridique jusqu'à la rédaction de
						<b>votre business plan et plan financier</b>.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="p-2 container pt-5">
		<div class="row">

			<div class="col-lg-6 ">
				<div class="rounded border-all p-4 m-1">
					<p class="text-center">
						<img src="{{ asset('images/optimisation.jpg')}}" style="width:100%">
					</p>
					<p class="is-text-primary size-7 fw-5 border-primary border-2">
						<u>COMPTABILITE</u>
					</p>
					<p class="opacity-3 size-6">Notre action comptable améliore vos ratios, facilite votre compréhension des chiffres et devient un outil de gestion efficace.
												Comptabilité générale, Comptabilité analytique, Organisation, tenue, suivi de comptabilité, Etablissement des comptes annuels, Etablissement des déclarations périodiques, Rattrapage de comptabilité, Audit interne.</p>


					<p class="bg-light border rounded p-3">Dépôt et publication des comptes annuels
												Nous facilitons votre publication de chiffres à la banque nationale. Nos outils d’analyses bilans évaluent le pouls et les paramètres de votre entreprise.</p>


				</div>
			</div>

			<div class="col-lg-6 ">
				<div class="rounded border-all p-4 m-1">
					<p class="text-center">
						<img src="{{ asset('images/creation.jpg')}}" style="width:100%">
					</p>
					<p class="is-text-primary size-7 fw-5 border-primary border-2">
						<u>CREATION D’ENTREPRISE</u>
					</p>
					<p class="opacity-3 size-6">Vous êtes entrepreneur ou dirigeant ?</p>
					<p>Vous avez choisi de créer une entreprise afin de mieux structurer vos activités et trouver de nouveaux clients ?</p>
					<p class="bg-light border rounded p-3">Notre préoccupation majeure est de vous faciliter la vie (dans les formalités administratives), vous faire gagner du temps, faciliter vos démarches et rendre vos projets opérationnels le plus rapidement possible et dans les meilleures conditions, en vous permettant de faire les bons choix, vous constituer un dossier solide et trouver rapidement vos premiers clients!</p>

					<details>
						<summary>Notre process:
							<span class="size-3 is-text-primary">( Lire plus)</span>
						</summary>
						<div class="size-6 p-3 pl-lg-5 p-sm-1">
							<p class="m-0 my-1">
								<i class="mdi mdi-check is-text-primary"></i>
								Analyse conseil / Rédaction de votre business plan</p>
							<p class="m-0 my-1">
								<i class="mdi mdi-check is-text-primary"></i>
								Analyse / Réalisation de votre étude de marché</p>
							<p class="m-0 my-1">
								<i class="mdi mdi-check is-text-primary"></i>
								Assistance dans la rédaction du plan financier</p>
							<p class="m-0 my-1">
								<i class="mdi mdi-check is-text-primary"></i>
								Les statuts = Rédaction des projets de statuts</p>
							<p class="m-0 my-1">
								<i class="mdi mdi-check is-text-primary"></i>
								Le Notaire = Prise de contact avec le Notaire</p>
							<p class="m-0 my-1">
								<i class="mdi mdi-check is-text-primary"></i>
								Dépôt des statuts = Dépôt et publication des statuts</p>
							<p class="m-0 my-1">
								<i class="mdi mdi-check is-text-primary"></i>
								Compte bancaire = Ouverture d'un compte bancaire</p>
							<p class="m-0 my-1">
								<i class="mdi mdi-check is-text-primary"></i>
								TVA = Activation de la TVA et de la Banque Carrefour des Entreprises</p>
						</div>
					</details>
				</div>
			</div>


			<div class="col-lg-6 ">
				<div class="rounded border-all p-4 m-1">
					<p class="text-center">
						<img src="{{ asset('images/optimisation.jpg')}}" style="width:100%">
					</p>
					<p class="is-text-primary size-7 fw-5 border-primary border-2">
						<u>FISCALITE</u>
					</p>
					<p class="opacity-3 size-6">Nous réalisons vos déclarations fiscales de type TVA, d’impôt des personnes physiques, des sociétés et autres.</p>
					<p>Nous vous défendons lors de contrôles fiscaux et vous apportons notre assistance technique et juridique dans le cadre de toute procédure de réclamation.</p>

					<p class="opacity-3 size-5 fw-4">Vérification des avertissements-extraits de rôle et Conseil fiscal</p>

					<p class="bg-light border rounded p-3">L’optimalisation : notre schéma fiscal optimum est en accord avec votre objectif final. Nous vous vous accompagnons dans l’amélioration de vos différentes formes de rémunérations !
																								La planification fiscale et formalités connexes : notre planification fiscale tient compte de la complexité de votre situation.

					</p>


					<div class="size-6 p-3 pl-lg-5 p-sm-1">
						<p class="m-0 my-2 size-6">
							<i class="mdi mdi-check is-text-primary"></i>
							<b>Une optimisation salariale :</b>
							nous mettons à votre disposition les outils légaux pour obtenir les mêmes revenus à moindre coût.</p>

						<p class="m-0 my-2 size-6">
							<i class="mdi mdi-check is-text-primary"></i>
							<b>Un tarif transparent :</b>
							chez JVGO, les tarifs sont simples, transparents et connus à l’avance.</p>


					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
