{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block div %}{% endblock %}
{% block body %}


	<div class="container" id="paiement">
		<div class="row">
			<div class="col-lg-5 m-auto ">
				<br><br>
				<div class="rounded border bg-light mt-5 shadow mb-3">
					<center class="py-2 pt-4">
						<a href="/">
							<img src="./images/jbvo.png" alt="" srcset="" class="logo"/>
						</a>
						<p class="fw-bold size-5 is-text-primary">CONNEXION</p>
					
					</center>

					<div class="border-top p-4 bg-white">

						<input type="text" class="form-control my-3" placeholder="Identifiant">
						<input type="password" class="form-control my-3" placeholder="Mot de passe" autocomplete="new-password">
					


						<div class="text-center mt-2">
							<button class="my-3 btn text-white rounded-pill bg-secondary" onclick="newPage('/dashboard')">Se connecter
								<i class="mdi mdi-lock text-white"></i>
							</button>
						</div>
					</div>
				</div>
				<br><br>
			</div>
		</div>
	</div>

<script src="{{ asset('js/custom/dashboard.js')}}"></script>
{% endblock %}
{% block footer %}{% endblock %}