{% extends 'base.html.twig' %}

{% block title %}Condition Generale De Vente
{% endblock %}

{% block body %}


	<div class="container-fluid py-5">
		<div class="row px-sm-3 px-md-3">
			<div class="col-lg-11 m-auto">
			<div style="margin-top:8em" class="d-sm-none d-md-block d-lg-block"></div>
			<div style="margin-top:2em" class="d-sm-block d-lg-none d-xl-none"></div>

				<p class="fw-3 m-0 my-2 mt-4 opacity-3 font-ubuntu size-9">CONDITIONS GENERALES D’UTILISATION ET DE VENTE
				</p>


				<p class="fw-2 m-0 my-5 size-6 opacity-2">
					Mises à jour le 27/01/2022

				</p>

				<p class="fw-2 m-0 my-3 size-6 opacity-2">

					Le site internet :

				</p>

				<p class="fw-2 m-0 my-3 size-6 opacity-2">

					www.jvgo.be (Ci-après la plateforme)

				</p>


				<p class="fw-3 m-0 my-4 opacity-3 font-ubuntu size-7">
					Est une initiative de : JVGO Business Builder
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Avenue Louise, 207
				</p>
				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					1050 Bruxelles
				</p>
				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Belgique
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					N° d'entreprise (BCE/TVA) : BE 0508.809.144
				</p>
				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Email : info.jvgo@gmail.com
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Téléphone : +32 (0)477506867
				</p>

				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					(Ci-après ou encore le vendeur)
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					N° d'entreprise (BCE/TVA) : BE 0508.809.144
				</p>
				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Email : info.jvgo@gmail.com
				</p>

				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					1050 Bruxelles
				</p>
				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Belgique
				</p>


				<p class="fw-4 m-0 my-3 size-8 opacity-2 ">
					I. CONDITIONS GÉNÉRALES D'UTILISATION
				</p>
				<p class="fw-4 m-0 my-3 size-6 opacity-2">
					1. Champ d'application
				</p>

				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Les présentes conditions générales d'utilisation (ci-après les "CGU") s'appliquent à toute visite ou utilisation de la Plateforme et de ses informations par un internaute (ci-après "utilisateur ").
				</p>
				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					En visitant ou utilisant la Plateforme, l'Utilisateur reconnait avoir pris connaissance des présentes CGU et accepte expressément les droits et obligations qui y sont mentionnés.
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Il peut exceptionnellement être dérogé aux dispositions des CGU par un accord écrit. Ces dérogations peuvent consister en la modification, l'ajout ou la suppression des clauses auxquelles elles se rapportent et n'ont aucune incidence sur l'application des autres dispositions des CGU.
				</p>
				<p class="fw-2 m-0 my-3 mb-5 size-6 opacity-2">
					Nous nous réservons le droit de modifier nos CGU à tout moment, sans notification préalable, mais nous nous engageons à appliquer les dispositions qui étaient en vigueur au moment où vous avez utilisé notre Plateforme.
				</p>


				<p class="fw-4 m-0 my-3 mt-4 size-6 opacity-2">
					2. Plateforme
				</p>


				<p class="fw-4 m-0 my-3 size-6 opacity-2">
					a. Accès et navigation
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Nous prenons toutes les mesures raisonnables et nécessaires pour assurer le bon fonctionnement, la sécurité et l'accessibilité de notre Plateforme. Toutefois, nous ne pouvons pas offrir de garantie d'opérabilité absolue et il faut dès lors considérer nos actions comme étant couvertes par une obligation de moyen.
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Toute utilisation de la Plateforme se fait toujours aux propres risques de l'Utilisateur. Ainsi, nous ne sommes pas responsables des dommages pouvant résulter de possibles dysfonctionnements, interruptions, défauts ou encore d'éléments nuisibles présents sur la Plateforme.
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Nous nous réservons le droit de restreindre l'accès à la Plateforme ou d'interrompre son fonctionnement à tout moment, sans obligation de notification préalable.
				</p>


				<p class="fw-4 m-0 my-3 size-6 opacity-2">
					b. Contenu
				</p>

				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					JVGO business Builder détermine en grande partie le contenu de la Plateforme et prend grand soin des informations présentes sur celle-ci. Nous prenons toutes les mesures possibles pour maintenir notre Plateforme aussi complète, précise et à jour que possible, même lorsque les informations présentes sur celle-ci sont fournies par des tiers. Nous nous réservons le droit de modifier, compléter ou supprimer à tout moment la Plateforme et son contenu, sans que sa responsabilité ne puisse être engagée.
				</p>
				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					JVGO business Builder ne peut pas offrir de garantie absolue concernant la qualité de l'information présente sur la Plateforme. Il est donc possible que cette information ne soit pas toujours complète, exacte, suffisamment précise ou à jour. Par conséquent, JVGO business Builder ne pourra pas être tenue responsable des dommages, directs ou indirects, que l'Utilisateur subirait de par l'information présente sur la Plateforme.
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Si certains contenus de la Plateforme sont en violation avec la loi ou les droits des tiers, ou sont contraires à la morale, nous vous demandons de nous en informer le plus rapidement possible par mail afin que nous puissions prendre des mesures appropriées.
				</p>
				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Tout téléchargement à partir de la Plateforme a toujours lieu aux risques de l'Utilisateur. JVGO business Builder ne pourra pas être tenue responsable des éventuels dommages, directs ou indirects, découlant de ces téléchargements, tels qu'une perte de données ou un endommagement du système informatique de l'Utilisateur, qui relèvent entièrement et exclusivement de la responsabilité de ce dernier.
				</p>


				<p class="fw-4 m-0 my-3 size-6 opacity-2">
					c. Services réservés aux Utilisateurs inscrits
				</p>

				<p class="fw-4 m-0 my-3 size-6 opacity-2">
					<i>1) Inscription
					</i>
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					L'accès à certains services est conditionné par l'inscription de l'Utilisateur.
				</p>
				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					L'inscription et l'accès aux services de la Plateforme sont réservés exclusivement aux personnes physiques capables juridiquement, ayant rempli et validé le formulaire d'inscription disponible en ligne sur la Plateforme ainsi que les présentes CGU.
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Lors de son inscription, l'Utilisateur s'engage à fournir des informations exactes, sincères et à jour sur sa personne et son état civil. L'Utilisateur devra en outre procéder à une vérification régulière des données le concernant afin d'en conserver l'exactitude.
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					L'Utilisateur doit ainsi fournir impérativement une adresse e-mail valide, sur laquelle la Plateforme lui adressera une confirmation de son inscription à ses services. Une adresse de messagerie électronique ne peut être utilisée plusieurs fois pour s'inscrire aux services.
				</p>

				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Toute communication réalisée par la Plateforme et ses partenaires est en conséquence réputée avoir été réceptionnée et lue par l'Utilisateur. Ce dernier s'engage donc à consulter régulièrement les messages reçus sur cette adresse e-mail et, le cas échéant, à répondre dans un délai raisonnable.
				</p>
				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Une seule inscription est admise par personne physique.
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					L'Utilisateur se voit attribuer un identifiant lui permettant d'accéder à un espace dont l'accès lui est réservé (ci-après " Espace personnel "), en complément de la saisie de son mot de passe.
				</p>
				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					L'identifiant et le mot de passe sont modifiables en ligne par l'Utilisateur dans son Espace personnel. Le mot de passe est personnel et confidentiel, l'Utilisateur s'engage ainsi à ne pas le communiquer à des tiers.
				</p>

				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					JVGO business Builder se réserve en tout état de cause la possibilité de refuser une demande d'inscription aux services de la Plateforme en cas de non-respect par l'Utilisateur des CGU.
				</p>


				<p class="fw-4 m-0 my-3 size-6 opacity-2">
					<i>2) Désinscription
					</i>
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					L'Utilisateur régulièrement inscrit pourra à tout moment demander sa désinscription en se rendant sur la page dédiée dans son Espace personnel. Toute désinscription de la Plateforme sera effective dans les plus brefs délais après que l'Utilisateur ait rempli le formulaire prévu à cet effet.
				</p>


				<p class="fw-4 m-0 my-5 size-6 opacity-2">
					d. Contenu publié par l'Utilisateur
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					L'utilisateur s'engage au respect des lois en vigueur à travers chacune de ses publications sur la Plateforme. Il sera particulièrement attentif aux intérêts des tiers, au contenu à caractère offensant ainsi qu'au contenu susceptible d'être contraire à l'ordre public ou aux mœurs. L'Utilisateur demeure responsable de tout contenu publié sur la Plateforme.
				</p>

				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					La Plateforme peut exercer une modération sur toute publication et refuser la mise en ligne de contenu sans devoir fournir de justification. Au même titre, le contenu publié par un Utilisateur pourra être modifié ou supprimé sans motif ni délai.
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					En publiant sur la Plateforme, l'Utilisateur cède gratuitement et à titre non exclusif à JVGO business Builder le droit de représenter, reproduire, adapter, modifier, distribuer et diffuser, directement ou indirectement ainsi que sur tout support et dans le monde entier le contenu publié.

				</p>

				<p class="fw-4 m-0 my-5 size-6 opacity-2">
					3. Liens vers d'autres sites internet
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					La Plateforme pourrait contenir des liens ou hyperliens renvoyant vers des sites internet externes. De tels liens ne signifient pas de manière automatique qu'il existe une relation entre JVGO business Builder et le site internet externe ou même qu'un accord implicite existe avec le contenu de ces sites externes.

					<br>

					JVGO business Builder n'exerce aucun contrôle sur les sites internet externes. Nous ne sommes donc pas responsables du fonctionnement sûr et correct des hyperliens et de leur destination finale. Dès l'instant où l'Utilisateur clique sur l'hyperlien, il quitte la Plateforme. Nous ne pouvons dès lors pas être tenus responsables en cas de dommage ultérieur.
				</p>


				<p class="fw-4 m-0 my-5 size-6 opacity-2">
					4. Propriété intellectuelle
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					La structuration de la Plateforme, mais aussi les textes, graphiques, images, photographies, sons, vidéos, bases de données, applications informatiques, etc. qui le composent ou qui sont accessibles via la Plateforme sont la propriété de l'éditeur et sont protégés comme tels par les lois en vigueur au titre de la propriété intellectuelle.
					<br>

					Toute représentation, reproduction, adaptation ou exploitation partielle ou totale des contenus, marques déposées et services proposés par la Plateforme, par quelque procédé que ce soit, sans l'autorisation préalable, expresse et écrite de l'éditeur, est strictement interdite, à l'exception des éléments expressément désignés comme libres de droits sur la Plateforme.

					<br>

					L'Utilisateur de la Plateforme se voit octroyer un droit limité d'accès, d'utilisation et d'affichage de la Plateforme et de son contenu. Ce droit est accordé à titre non exclusif, non transférable et ne peut être utilisé que moyennant un usage personnel et non commercial. Sauf accord préalable et écrit, les Utilisateurs ne sont pas autorisés à modifier, reproduire, traduire, distribuer, vendre, communiquer au public, en tout ou en partie, les éléments protégés.

					<br>

					Il est interdit à l'Utilisateur d'introduire des données sur la Plateforme qui modifieraient ou qui seraient susceptibles d'en modifier le contenu ou l'apparence.


				</p>

				<p class="fw-4 m-0 my-5 size-6 opacity-2">
					5. Protection des données personnelles
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Les données personnelles fournies par l'Utilisateur lors de sa visite ou de l'utilisation de la Plateforme sont collectées et traitées par JVGO business Builder exclusivement à des fins internes.

					<br>
					JVGO business Builder assure à ses utilisateurs qu'elle attache la plus grande importance à la protection de leur vie privée et de leurs données personnelles, et qu'elle s'engage toujours à communiquer de manière claire et transparente sur ce point.


					<br>
					JVGO business Builder s'engage à respecter la législation applicable en la matière, à savoir la Loi du 8 décembre 1992 relative à la protection de la vie privée à l'égard des traitements de données à caractère personnel ainsi que le Règlement européen du 27 avril 2016 relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données.

					<br>

					Les données personnelles de l'Utilisateur sont traitées conformément à la Charte de Vie Privée disponible sur la Plateforme.
				</p>

				<p class="fw-4 m-0 my-5 size-6 opacity-2">
					6.Dispositions générales
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					JVGO business Builder se réserve la possibilité de modifier, étendre, supprimer, limiter ou interrompre la Plateforme et les services associés à tout moment, sans notification préalable, et sans engager sa responsabilité.
					<br>

					En cas de violation des CGU par l'Utilisateur, JVGO business Builder se réserve le droit de prendre des mesures de sanction et de réparation adaptées.
					<br>

					JVGO business Builder se réserve notamment le droit de refuser à l'Utilisateur tout accès à la Plateforme ou à nos services temporairement ou définitivement. Ces mesures peuvent être prises sans indication de motif et sans préavis. Elles ne peuvent pas engager la responsabilité de JVGO business Builder ou donner lieu à une quelconque forme d'indemnisation.
					<br>

					L'illégalité ou la nullité totale ou partielle d'une disposition de nos CGU n'aura aucun impact sur la validité et l'application des autres dispositions. Nous disposons, dans un tel cas, du droit de remplacer la disposition par une autre disposition valable et de portée similaire
				</p>

				<br>
				<br>
				<p class="fw-4 m-0 my-3 size-6 opacity-2">
					II. CONDITIONS GÉNÉRALES DE VENTE
				</p>
				<p class="fw-4 m-0 mb-5 size-6 opacity-2">
					1. Champ d'application
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Les présentes conditions générales de vente (ci-après les "CGV ") définissent les droits et obligations réciproques en cas d'achat de produits ou de services sur la Plateforme par un Utilisateur (ci-après " Client ").

					<br>

					Les CGV expriment l'intégralité des obligations des parties. Le Client est réputé les accepter sans réserve, faute de quoi sa commande ne sera pas validée.
					<br>

					Il peut exceptionnellement être dérogé aux dispositions des CGV dans la mesure où ces dérogations ont fait l'objet d'un accord écrit. Ces dérogations peuvent consister en la modification, l'ajout ou la suppression des clauses auxquelles elles se rapportent et n'ont aucune incidence sur l'application des autres dispositions des CGV.
					<br>
					JVGO business Builder se réserve le droit de modifier ponctuellement les CGV. Les modifications seront applicables dès leur mise en ligne pour tout achat postérieur à cette date.
				</p>

				<br>

				<br>


				<p class="fw-4 m-0 mb-5 size-6 opacity-2">
					2. Boutique en ligne
				</p>


				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Par l'intermédiaire de la Plateforme, le Vendeur fournit au Client une boutique en ligne présentant les produits ou services vendus, sans que les photographies aient une valeur contractuelle.
					<br>
					Les produits ou services sont décrits et présentés avec la plus grande exactitude possible. Toutefois, en cas d'erreurs ou omissions dans la présentation, la responsabilité du Vendeur ne pourra être engagée de ce fait.
					<br>
					Les produits et services sont proposés dans la limite de leur disponibilité.
					<br>
					Les prix et les taxes sont précisés dans la boutique en ligne.
				</p>

				<p class="fw-4 m-0 my-5 size-6 opacity-2">
					3. Prix
				</p>

				<p class="fw-2 m-0 my-3 size-6 opacity-2">
					Le Vendeur se réserve le droit de modifier ses prix à tout moment en les publiant en ligne.
					<br>
					Seuls s'appliqueront les tarifs indiqués et les taxes en vigueur au moment de la commande, sous réserve de disponibilité à cette date.
					<br>
					Les prix sont indiqués en euros et ne tiennent pas compte des éventuels frais de livraison, lesquels sont indiqués et facturés en supplément avant la validation de la commande par le Client.
					<br>
					Le montant total de la commande (toutes taxes comprises) et, le cas échéant, des frais de livraison est indiqué avant validation finale du bon de commande.
				</p>

				<br>

				<p class="fw-4 m-0 my-5 size-6 opacity-2">
					4. Commande en ligne
				</p>


				Le Client a la possibilité de remplir un bon de commande en ligne, au moyen d'un formulaire électronique. En remplissant le formulaire électronique, le Client accepte le prix et la description des produits ou services.
				<br>
				Pour que sa commande soit validée, le Client devra accepter les présentes CGV en cliquant à l'endroit indiqué.
				<br>
				Le Client devra fournir une adresse de courrier électronique, ses coordonnées de facturations et, cas échéant, une adresse de livraison valides. Tout échange avec le Vendeur pourra intervenir au moyen de cette adresse de courrier électronique.
				<br>
				De plus, le Client devra choisir le mode de livraison et valider le mode de paiement.
				<br>
				Le Vendeur se réserve le droit de bloquer la commande du Client en cas de défaut de paiement, d'adresse erronée ou de tout autre problème sur le compte du Client et ce, jusqu'à résolution du problème.


				<p class="fw-4 m-0 my-5 size-6 opacity-2">
					5. Confirmation et paiement de la commande
				</p>
				Le Vendeur reste propriétaire des articles commandés jusqu'à la réception du paiement intégral de la commande.
				<p class="fw-4 m-0 my-5 size-6 opacity-2">
					a. Paiement
				</p>
				Le Client effectue le paiement au moment de la validation finale de la commande en utilisant le mode de paiement choisi. Cette validation tient lieu de signature.
				<br>
				Le Client garantit au Vendeur qu'il dispose des autorisations nécessaires pour utiliser ce mode de paiement et reconnait que les informations données à cet effet valent preuve de son consentement à la vente comme à l'exigibilité des sommes dues au titre de la commande.
				<br>
				Le Vendeur a mis en place une procédure de vérification des commandes et des moyens de paiement destinés à le garantir raisonnablement contre toute utilisation frauduleuse d'un moyen de paiement, y compris en demandant au Client des données d'identification.
				<br>
				En cas de refus d'autorisation de paiement par carte bancaire de la part des organismes accrédités ou en cas de non-paiement, le Vendeur se réserve le droit de suspendre ou d'annuler la commande et sa livraison.
				<br>
				Le Vendeur se réserve également le droit de refuser une commande émanant d'un Client qui n'aurait pas réglé totalement ou partiellement une commande précédente ou avec lequel un litige de paiement serait en cours.
				<br>
				<p class="fw-4 m-0 my-5 size-6 opacity-2">
					b. Confirmation
				</p>
				Dès réception de la validation de l'achat assortie du paiement, le Vendeur en transmet au Client, ainsi qu'une facture, sauf livraison de cette dernière avec la commande.
				<br>
				Le Client peut demander l'envoi de la facture à une autre adresse que celle de livraison en adressant une demande à cet effet au service client (voir coordonnées ci-dessous) avant la livraison.
				<br>
				En cas d'indisponibilité d'un service ou d'un produit, le Vendeur tiendra le Client informé par courrier électronique dans les meilleurs délais afin de le remplacer ou d'annuler la commande de ce produit et éventuellement de rembourser le prix afférent, le reste de la commande demeurant ferme et définitif.
				<br><br>


				<p class="fw-4 m-0 my-5 size-6 opacity-2">
					6. Preuve
				</p>
				Les communications, commandes et paiements intervenus entre le Client et le Vendeur pourront être prouvés grâce aux registres informatisés, conservés dans les systèmes informatiques du Vendeur dans des conditions raisonnables de sécurité. Les bons de commandes et factures sont archivés sur un support fiable et durable considéré, notamment, comme un moyen de preuve.

				<p class="fw-4 m-0 my-5 size-6 opacity-2">
					7. Livraison
				</p>
				La livraison n'est faite qu'après confirmation du paiement par l'organisme bancaire du Vendeur.
				<br>
				Les produits sont livrés à l'adresse indiquée par le Client sur le formulaire en ligne valant bon de commande. Les frais supplémentaires découlant d'informations incomplètes ou erronées par le Client lui seront facturées. Pour des raisons de disponibilité, une commande pourra faire l'objet de plusieurs livraisons successives au Client.
				<br>
				La livraison intervient, selon le mode choisi par le Client, dans les délais suivants :
				<br>
				Livraison premium : 24h
				<br>
				Livraison express : 2-3 jours
				<br>
				Livraison standard : 5-7 jours
				<br>
				Les délais de livraison sont donnés à titre indicatif. Aucune indemnité ne pourra être réclamée au Vendeur ou au transporteur en cas de retard de livraison. Si les délais de livraison dépassent trente jours à compter de la commande, le contrat de vente pourra toutefois être résilié et le Client remboursé.
				<br>
				<p class="fw-4 m-0 my-5 size-6 opacity-2">
					a. Vérification de la commande
				</p>
				A la réception des produits, le Client ou le destinataire vérifie le bon état du produit livré ou la conformité du service fourni.
				<br>
				Dans l'hypothèse où l'un ou plusieurs des produits commandés sont manquants ou abîmés, le Client ou le destinataire doit formuler les réserves nécessaires au transporteur au moment de la livraison et immédiatement en faire part au Vendeur.
				<br>
				La vérification est considérée comme effectuée dès lors que le Client ou une personne autorisée par lui a réceptionné la commande sans émettre de réserves.
				<br>
				Toute réserve non effectuée dans les règles définies ci-dessus et dans les délais impartis ne pourra être prise en compte et dégagera le Vendeur de toute responsabilité vis-à-vis du Client

				<p class="fw-4 m-0 my-5 size-6 opacity-2">
					b. Erreur de livraison
				</p>
				En cas d'erreur de livraison ou de non-conformité des produits par rapport aux indications figurant sur le bon de commande, le Client en informe le Vendeur dans les trois jours ouvrables suivant la date de livraison.
				<br>
				Toute réclamation non effectuée dans le délai imparti ne pourra être prise en compte et dégagera le Vendeur de toute responsabilité vis-à-vis du Client.

				<p class="fw-4 m-0 my-5 size-6 opacity-2">
					c. Retours et échanges
				</p>
				Le produit à échanger ou à rembourser devra être retourné au Vendeur dans son ensemble et dans son emballage d'origine, selon les modalités suivantes : Produit à retourner par courrier dans un délai de 30 jours à compter de la date de livraison de la commande, à l’adresse suivante :
				<br>
				JVGO Business Builder
				<br>
				Avenue Louise, 207
				<br>
				1050 Bruxelles, Belgique
				<br>
				Toute réclamation et tout retour non effectué dans les règles définies ci-dessus et dans les délais impartis ne pourra être pris en compte et dégagera le Vendeur de toute responsabilité vis-à-vis du Client.
				<br>
				Tout produit à échanger ou à rembourser devra être retourné au Vendeur dans son ensemble et dans son emballage d'origine. Les frais de retour sont à la charge du Vendeur.
				<br>

				<p class="fw-4 m-0 my-5 size-6 opacity-2">
					8. Garanties
				</p>
				Le Vendeur est garant de la conformité des produits ou services au contrat conformément à la loi en vigueur au moment de la conclusion de celui-ci.
				<br>
				*Garantie de conformité
				<br>
				Si le Client est un consommateur, il dispose d'un délai de deux ans à compter de la délivrance du produit pour mettre en œuvre la garantie légale de conformité. Nonobstant, si le produit acheté était un bien de seconde main, le délai de garantie est d'un an.
				<br>
				Le défaut de conformité doit être signalé au Vendeur dans les meilleurs délais et, en tout état de cause, au plus tard deux mois après la constatation de celui-ci.
				<br>
				<p class="fw-4 m-0 my-5 size-6 opacity-2">
					9. Droit de rétractation
				</p>
				Si le Client est un consommateur, il pourra faire valoir son droit de rétractation légal dans un délai de 14 jours ouvrables suivant la livraison du bien ou la conclusion du contrat de service.
				<br>
				Après avoir communiqué sa décision de se rétracter, le Client dispose alors de 14 jours pour renvoyer ou restituer les biens.
				<br>
				Toute rétractation non effectuée selon les règles et les délais définis par le présent article ne pourra être prise en compte et dégagera le Vendeur de toute responsabilité vis-à-vis du Client.
				<br>
				Le Client pourra demander le remboursement du produit retourné, sans pénalité, les frais de retour étant pris en charge par le Vendeur.
				<br>
				Le retour ou l'échange du produit ne pourra être accepté que pour les produits dans leur ensemble, intacts et dans leur état d'origine, en particulier avec un emballage complet, intact et en état de vente.
				<br>
				Le Vendeur devra rembourser le Client de la totalité des sommes versées, y compris les frais de livraison, dans les 14 jours de la récupération des biens ou de la transmission d'une preuve de l'expédition de ces biens.
				<br>
				Si la commande concerne, en tout ou en partie, un contenu numérique non fourni sur un support matériel, le Client accepte par la présente de perdre, pour ce contenu numérique, son droit de rétractation afin d'être livré dans les plus brefs délais.
				<br>
				Si la commande concerne, en tout ou en partie, la fourniture de services, le Client renonce par la présente, pour ces services, à son droit de rétractation afin d'être fourni dans les plus brefs délais suivant la conclusion du contrat.
				<br>
				<br>
				Modèle de formulaire de rétractation
				<br>
				À l'attention de JVGO Business Builder
				<br>
				Avenue Louise, 207
				<br>
				1050 Bruxelles
				<br>
				Belgique
				<br>
				N° d'entreprise (BCE/TVA) : BE 0508.809.144
				<br>
				Email : info.jvgo@gmail.com
				<br>
				Téléphone : +32 (0)477506867
				<br>
				Je/Nous (*) vous notifie/notifions (*) par la présente ma/notre (*) rétractation du contrat portant sur la vente du bien (*) /pour la prestation de service (*) ci-dessous :
				<br>
				…………………………………………………………………………………………………………...
				<br>
				Commandé le (*) /reçu le (*) : ……………………………………………………………………
				<br>
				Nom du (des) consommateur(s) : ………………………………………………………………..
				<br>
				Adresse du (des) consommateur(s) : ……………………………………………………………
				<br>
				Signature du (des) consommateur(s) (uniquement en cas de notification du présent formulaire sur papier) : ………………………………………………………………………………
				<br>
				Date : ……………………………………………………………………………………………………
				<br>
				*Biffez la mention inutile
				<br>
				<p class="fw-4 m-0 my-5 size-6 opacity-2">
					10. Force majeure
				</p>
				Si le Vendeur se voit empêché, en tout ou en partie, d'exécuter la commande en raison d'une circonstance imprévue et indépendante de sa volonté, il est alors question de force majeure.
				<br>
				En cas de force majeure, le Vendeur est autorisé à suspendre l'exécution de la commande, en tout ou en partie, pendant toute la durée de la force majeure. Le Vendeur en avertit immédiatement le Client.
				<br>
				Si la force majeure perdure plus de 90 jours sans interruption, chacune des parties au contrat aura le droit de résilier le contrat unilatéralement, par lettre recommandée envoyée à l'autre partie. Les prestations déjà réalisées par le Vendeur seront néanmoins facturées en proportion au Client.
				<br>
				<p class="fw-4 m-0 my-5 size-6 opacity-2">
					11. Indépendance des clauses
				</p>
				L'illégalité ou la nullité totale ou partielle d'une disposition des présentes CGV n'aura aucun impact sur la validité et l'application des autres dispositions. Le Vendeur se réserve le droit de remplacer la disposition illégale ou nulle par une autre disposition valable et de portée similaire.
				<br>
				<br>
				<p class="fw-4 m-0 my-5 size-6 opacity-2">
					12. Loi applicable et juridiction compétente
				</p>

				Les présentes CGV sont régies par le droit belge.
				<br>
				En cas de différend et à défaut d'accord amiable, le litige sera porté devant les tribunaux de l'arrondissement judiciaire du siège social du Vendeur.
				<br>
				<br>

			</div>
		</div>
	</div>

{% endblock %}
